{% extends 'base.html' %}
{% load django_tables2 janun crispy_forms_tags %}

{% block head_title %}JANUN-Gruppen{% endblock %}

{% block content %}

<div class="mx-auto max-w-6xl">

  <div class="md:flex flex-wrap items-center mb-12 pb-4 border-b">
    <h1 class="font-bold text-xl">JANUN-Gruppen</h1>

    <div class="ml-auto flex items-center text-gray-600">
      {% if request.user.is_superuser %}
        <a class="inline-flex items-center hover:text-gray-800 mx-4" href="{% url 'groups:export' %}">
          <svg class="fill-current h-4 w-4 mr-1" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
          CSV-Export
        </a>
      {% endif %}
      <a class="inline-flex items-center hover:text-gray-800 mx-4" href="{% url 'groups:add' %}">
        <svg class="h-4 w-4 mr-1" viewBox="0 0 24 24"><path stroke="currentColor" stroke-width="4" stroke-linecap="round" d="M12 4V20M20 12L4 12"/></svg>
        hinzufügen
      </a>
    </div>
  </div>

  {% render_table table %}

</div>

{% endblock content %}
