{% extends 'base.html' %}
{% load humanize janun django_tables2 %}

{% block head_title %}{{ block.super }} Alle Änderungen{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto">

  <a class="inline-flex items-center text-gray-500 hover:text-gray-800 text-xs mb-4" href="/">
    <svg class="fill-current mr-2 h-2 w-2" viewBox="0 0 20 20"><polygon points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9"/></svg>
    Übersicht
  </a>

  <div class="mb-10 pb-4 flex flex-wrap items-end justify-between border-b">
    <h1 class="font-bold text-xl">Letzte Änderungen</h1>
  </div>

  {% render_table table %}

</div>
{% endblock content %}
