<fieldset {% if fieldset.css_id %}id="{{ fieldset.css_id }}"{% endif %}
        {% if fieldset.css_class or form_style %}class="{{ fieldset.css_class }} {{ form_style }}"{% endif %}
        {{ fieldset.flat_attrs|safe }}>
    <div class="flex flex-wrap border-b-2 border-gray-300 pb-5 mb-5">
        <div class="block w-full md:w-1/3 text-green-500 mb-5 font-bold text-lg">
            {% if legend %}<legend>{{ legend|safe }}</legend>{% endif %}
        </div>
        <div class="block w-full md:w-2/3">
            {{ fields|safe }}
        </div>
    </div>
</fieldset>
