<div class="imageinput clearfix">
  {% if widget.is_initial %}
    <div class="float-left margin-right-15">
      {% include "common/round-image.html" with image=widget.value logo=widget.logo %}
    </div>
  {% endif %}

  <input class="imageinput__input" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>

  {% if widget.is_initial and not widget.required %}
    <div class="checkmark margin-top-15">
      <input class="checkmark__input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
      <label class="checkmark__label" for="{{ widget.checkbox_id }}">löschen</label>
    </div>
  {% endif %}
</div>
