[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
psycopg2-binary = "*"
django-filter = "*"
django-import-export = "*"
django-rest-auth = "*"
django-cors-headers = "*"
django-allauth = "*"
drf-extensions = "*"
django-model-utils = "*"
pylint-quotes = "*"

[dev-packages]
autopep8 = "*"
django-debug-toolbar = "*"
pylint = "*"
pylint-django = "*"
flake8 = "*"
flake8-django = "*"
