[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
django = "~=2.2"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
psycopg2-binary = "*"
django-allauth = "*"
argon2-cffi = "*"
django-environ = "*"
django-admin-list-filter-dropdown = "*"
django-reversion = "*"
django-model-utils = "*"
django-import-export = "*"
django-extensions = "*"
django-crispy-forms = "*"
django-allauth-2fa = "*"
django-formtools = "*"
formulas = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
django-preferences = "*"
celery = "*"
redis = "*"
django-celery-email = "*"

[dev-packages]
django-debug-toolbar = "*"
pylint = "*"
pylint-django = "*"
pylint-quotes = "*"
flake8 = "*"
flake8-django = "*"
black = "==19.3b0"
mypy = "*"
django-stubs = "*"
dataclasses = "*" # needed by django-stubs

[pipenv]
allow_prereleases = false
