<a
  class="block bg-white rounded shadow hover:shadow-md p-4 no-underline flex flex-col text-gray-600"
  style="min-height: 130px"
  href="{{ seminar.get_absolute_url }}"
>
  <div class="flex items-baseline justify-between mb-1">
    <span class="text-xs text-grey-600">
      <span title="Datum">{{ seminar.start_date | date }}</span>
      <span title="Ort">in {{ seminar.location|truncatechars:10 }}</span>
    </span>
    <span title="Status" class="text-xs">{{ seminar.status }}</span>
  </div>

  <h3 class="mt-1 mb-1 leading-tight text-gray-800 font-bold">
    {{ seminar.title }}
  </h3>

  <div class="flex text-gray-800 mb-1 text-sm">
    <div title="Förderung"><span class="font-bold-">{{ seminar.funding }}</span> <span class="text-xs">€</span></div>
    <div title="Teilnehmerinnentage" class="ml-4"><span class="font-bold-">{{ seminar.tnt }}</span> <span class="text-xs">TNT</span></div>
  </div>

  {% if seminar.group %}
    <span title="JANUN-Gruppe" class="text-xs mb-1">für {{ seminar.group.name }}</span>
  {% else %}
    <span class="text-xs mb-1">als Einzelperson</span>
  {% endif %}

  <div class="flex items-baseline mt-auto">
    {% if seminar.deadline_applicable %}
      <span class="text-xs ml-auto {% if seminar.deadline_status == 'expired' %}px-2 bg-red-300 text-gray-800 rounded-sm{% endif %}" 
            title="Deadline {% if seminar.deadline_status == 'expired' %}abgelaufen!{% endif %}">
        {{ seminar.deadline | date }}
      </span>
    {% endif %}
  </div>
</a>
