{% load janun %}

<a
  class="flex flex-col h-full bg-white rounded shadow hover:shadow-md focus:shadow-outline p-4 no-underline text-gray-600"
  style="min-height: 130px;"
  href="{{ seminar.get_absolute_url }}"
>
  <div class="flex items-baseline justify-between mb-1">
    <span class="text-xs text-grey-600">
      <span title="Datum">{{ seminar.start_date | date }}</span>
      <span title="Ort">in {{ seminar.location|truncatechars:10 }}</span>
    </span>
    <span title="Status" class="text-xs">{{ seminar.status }}</span>
  </div>

  <h3 class="mt-1 mb-2 leading-tight text-gray-800 font-bold text-lg">
    {{ seminar.title }}
  </h3>

  <div class="flex text-gray-800 mb-2 text-sm">
    <div title="Förderung"><span class="font-bold-">{{ seminar.funding|number|default:0 }}</span> <span class="text-xs">€</span></div>
    <div title="Teilnehmerinnentage" class="ml-4"><span class="font-bold-">{{ seminar.tnt|number:0|default:0 }}</span> <span class="text-xs">TNT</span></div>
  </div>

  <div class="flex items-baseline mt-auto">
    {% if seminar.group %}
      <span title="JANUN-Gruppe" class="text-xs mb-1">für {{ seminar.group.name }}</span>
    {% else %}
      <span class="text-xs mb-1">als Einzelperson</span>
    {% endif %}

    {% if seminar.deadline_applicable %}
      <span class="inline-flex items-center text-xs ml-auto {% if seminar.deadline_status == 'expired' %}text-red-600{% endif %}" title="Deadline {% if seminar.deadline_status == 'expired' %}abgelaufen!{% endif %}">
        {{ seminar.deadline | date }}
        {% if seminar.deadline_status == 'expired' %}
          <svg class="h-4 w-4 ml-1 fill-current text-red-600" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM9 5v6h2V5H9zm0 8v2h2v-2H9z"/></svg>
        {% endif %}
      </span>
    {% endif %}
  </div>
</a>
