{% if seminars %}
  <table class="seminar-table w-full table-fixed">
    <thead>
      <tr class="text-left text-gray-700 text-sm border-b-2 border-gray-500">
        <th class="text-left pr-2 w-1/2">Titel</th>
        <th class="text-right px-2">Datum</th>
        <th class="text-left px-2 w-48">Status</th>
        <th class="text-right px-2">TNT</th>
        <th class="text-right pl-2">Förderung</th>
      </tr>
    </head>
    <tbody>
      {% for seminar in seminars %}
        <tr class="border-b hover:bg-green-100">
          <td class="text-left pr-2 py-2"><a class="text-green-700 hover:text-green-900" href="{{ seminar.get_absolute_url }}">{{ seminar.title }}</a></td>
          <td class="text-right px-2">{{ seminar.start_date|date:"d.m.y" }}</td>
          <td class="text-left px-2">{{ seminar.status }}</td>
          <td class="text-right px-2">{{ seminar.tnt }}</td>
          <td class="text-right pl-2">{{ seminar.funding|floatformat:2 }}</td>
        </tr>
      {% endfor %}
      <tr class="border-t-2 border-gray-500">
        <td class="text-left px-2 py-1"></td>
        <td class="text-right px-2"></td>
        <td class="text-left px-2"></td>
        <td class="text-right px-2 font-bold">{{ stats.tnt_sum }}</td>
        <td class="text-right pl-2 font-bold">{{ stats.funding_sum|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
{% else %}
  <p class="my-2">Keine Seminare gefunden.</p>
{% endif %}