{% extends 'base.html' %}
{% load janun crispy_forms_tags %}

{% block head_title %}Förderungssätze {{ year }}{% endblock %}

{% block message_width %}max-w-5xl{% endblock %}

{% block content %}
<div class="mx-auto max-w-5xl">
  <a class="inline-flex items-center text-gray-500 hover:text-gray-800 text-xs mb-4" href="{% url 'seminars:list_staff' year %}">
    <svg class="fill-current mr-2 h-2 w-2" viewBox="0 0 20 20"><polygon points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9"/></svg>
    Seminare {{ year }}
  </a>

  <div class="md:flex flex-wrap items-baseline mb-5 border-b pb-4">
    <h1 class="font-bold text-2xl">Förderungssätze {{ year }}</h1>
  </div>

  <div class="mb-10 max-w-2xl text-gray-700">
    <p>
      Diese Regeln entscheiden, welche Förderung eine_er Teamer_in
      für ein Seminar maximal beantragen kann, wenn das Start-Datum im Jahr {{ year }} liegt.
    </p>
  </div>
</div>


<form action="" method="POST" class="js-focus-invalid js-warn-if-unsaved">
  <div class="mx-auto max-w-5xl">
    {% crispy form %}
  </div>

  <div data-sticky-classes="md:bg-white-75 md:border-t-2" class="js-is-sticky-b md:sticky md:bottom-0 md:-mx-8">
    <div class="flex items-center justify-end md:mx-auto md:max-w-5xl md:py-4">
      <button class="button button-primary js-disable-if-unchanged" type="submit">Speichern</button>
    </div>
  </div>
</form>

</div>
{% endblock content %}
