{% extends 'base.html' %}
{% load janun crispy_forms_tags %}

{% block head_title %}Förderungssätze {{ year }}{% endblock %}

{% block message_width %}max-w-5xl{% endblock %}

{% block content %}
<div class="mx-auto max-w-5xl">
  <div class="md:flex flex-wrap items-baseline mb-5 border-b pb-4">
    <h1 class="font-bold text-2xl">Förderungssätze {{ year }}</h1>
  </div>

  <div class="mb-10 max-w-2xl text-gray-700">
    <p>
      Diese Regeln entscheiden, welche Förderung eine_er Teamer_in
      für ein Seminar maximal beantragen kann, wenn das Start-Datum im Jahr {{ year }} liegt.
    </p>
  </div>
</div>


<form action="" method="POST" class="js-focus-invalid">
  <div class="mx-auto max-w-5xl">
    {% crispy form %}
  </div>

  <div class="md:sticky md:bottom-0 md:bg-white-75 md:border-t-2 md:-mx-8 md:-mb-16">
    <div class="flex items-center justify-end md:mx-auto md:max-w-5xl md:py-4">
      <button class="button button-primary" type="submit">Speichern</button>
    </div>
  </div>
</form>

</div>
{% endblock content %}
