{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_title %}{{ seminar.title }}{% endblock %}


{% block content %}
<div class="mx-auto max-w-3xl">
  <div class="md:bg-white md:shadow-lg md:rounded-lg md:px-8 md:pt-6">
 

    <div class="mb-5 flex items-start justify-between">
      <h1 class="font-bold text-2xl">{{ seminar.title }}</h1>
      {% if user.is_staff %}
        <a class="text-sm flex items-center text-gray-500 hover:text-gray-800 focus:text-gray-800"
          href="{% url 'admin:seminars_seminar_change' seminar.pk %}">
          Verwaltungsansicht
        </a>
      {% endif %}
    </div>

    <div class="mb-1">
      Am {{ seminar.start_date | date }}
      {% if seminar.location %}<span>in {{ seminar.location }}</span>{% endif %}
    </div>

    <div>
      {% if seminar.owner and seminar.owner != user %}
        <div class="mb-1">
          von
          {% if user.is_staff %}
            <a class="" href="{% url 'admin:users_user_change' seminar.owner.pk %}">{{ seminar.owner.name }}</a>
          {% else %}
            {{ seminar.owner.name }}
          {% endif %}
        </div>
      {% endif %}

      {% if seminar.group %}
        <div class="mb-1">
          für
          <a class="" href="{{ seminar.group.get_absolute_url }}">
            {{ seminar.group.name }}
          </a>
        </div>
      {% endif %}

      {% if seminar.deadline_applicable %}
        <div>
          Abrechnungs-Deadline: {{ seminar.deadline | date }}
          {% if seminar.deadline_status == 'expired' %}
            <span class="text-red-600 ml-2">
              <svg class="inline-block h-4 w-4 fill-current" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM9 5v6h2V5H9zm0 8v2h2v-2H9z"/></svg>
              abgelaufen
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="mt-5 pt-5">
        {% crispy form %}

        <div class="fieldset border-none">
          <div class="fieldset-header">Abrechnung</div>
          <div class="fieldset-content mb-10">
            {% if seminar.has_accounting %}
            <div>
              <span class="text-xl text-gray-700 font-bold">{{ seminar.actual_attendees_total }}</span>
              {{ seminar.actual_attendees_total|pluralize:"Teilnehmender,Teilnehmende" }}
            </div>
            <div>
              <span class="text-xl text-gray-700 font-bold">{{ seminar.actual_training_days }}</span>
              {{ seminar.actual_training_days|pluralize:"Bildungstag,Bildungstage" }}
            </div>
            <div>
              <span class="text-xl text-gray-700 font-bold">{{ seminar.actual_attendence_days_total }}</span> TNT
            </div>
             <div>
              <span class="text-xl text-gray-700 font-bold">{{ seminar.actual_funding }}</span> Euro Förderung
            </div>
            {% else %}
              <p>Hier ist momentan nichts eingetragen.</p>
            {% endif %}
          </div>
        </div>
      </div>
      
      {% if form.show_save_button %}
        <div class="md:fixed md:inset-x-0 md:bottom-0 md:bg-white-75 md:border-t-2">
          <div class="flex items-center justify-end mx-auto max-w-3xl px-8 py-4"> 
            <button class="order-10 button button-primary" type="submit">Speichern</button>
            {% if seminar.status == 'angemeldet' %}
              <a class="mx-6 text-gray-600 hover:text-gray-800 focus:text-gray-800" href="{% url 'seminar_delete' seminar.start_date.year seminar.slug %}">Löschen</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      
    </form>

  </div>

  {% include "./_comments.html" %}

</div>
{% endblock content %}