{% extends "base.html" %}

{% block head_title %}{{ seminar.title }} erfolgreich angemeldet{% endblock %}

{% block content %}
<div class="mx-auto max-w-xl md:bg-white md:shadow-lg p-8 rounded-lg md:border-t-4 md:border-green-500">

  <div class="flex flex-col justify-center items-center mb-5 text-center">
    <div class="flex justify-center items-center p-2 bg-green-200 rounded-full w-16 h-16 mb-6">
      <svg class="fill-current text-green-700 w-12 h-12" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
    </div>
    <h1 class="text-2xl font-bold mb-4">Seminar erfolgreich angemeldet</h1>
    <p class="mb-2">Wir werden jetzt <strong>prüfen</strong>, ob wir es fördern können.</p>
    <p class="mb-2">Wir haben dir auch eine <strong>Bestätigungsmail</strong> an {{ email }} geschickt.</p>
    <p>Du kannst die Seminardetails noch <strong>bearbeiten bis wir es zugesagt haben</strong>.</p>
  </div>

  <div class="mt-10 flex flex-wrap items-center justify-center md:justify-end md:-mb-8 md:-mx-8 md:px-8 py-4 md:bg-gray-100 rounded-b-lg">
    <a class="js-focus flex items-center button button-primary" href="{{ seminar.get_absolute_url }}">
      Seminar ansehen
      <svg viewBox="0 0 20 20" class="ml-2 fill-current h-3 w-3"><path d="M16.172 9l-6.071-6.071 1.414-1.414L20 10l-.707.707-7.778 7.778-1.414-1.414L16.172 11H0V9z"></path></svg>
    </a>
  </div>

</div>
{% endblock content %}
