{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block body_class %}wizard-page{% endblock %}

{% block extrahead %}
{{ wizard.form.media }}
<style>.navbar {display: none;}</style>
{% endblock %}

{% block head_title %}Seminar anmelden{% endblock %}

{% block content %}
<div class="mx-auto max-w-3xl md:bg-white md:shadow-lg pb-8 md:pt-6 -mt-5 md:mt-0 rounded-lg">

  <div class="flex items-center mb-6 md:mb-8 md:px-8 pb-4 md:pb-6 border-b">
    <h1 class="text-green-500">Seminar anmelden</h1>
    <span class="text-gray-500 ml-2 text-sm">{{ wizard.steps.step1 }} / {{ wizard.steps.count }}</span>
    <a title="Abbrechen" class="block h-4 w-4 ml-auto text-gray-600 hover:text-gray-800 focus:text-gray-800" href="/">
      ✖
    </a>
  </div>

  <form class="md:px-8" action="" method="POST">
    {% csrf_token %}
    {{ wizard.management_form }}
    <input type="submit" value="Speichern" class="hidden" />

    <div class="flex items-start">
      <ul class="md:w-1/4 bg-gray-100 rounded shadow mb-10 mr-12 pl-4 pr-2 hidden md:block">
        {% for step_name, step_form in steps.items %}
          <li>
            <button class="flex items-center my-3 {% if wizard.steps.current == step_name %}font-bold{% endif %}"
                name="wizard_goto_step" type="submit" value="{{ step_name }}">
              {{ step_form.Meta.short_title }}
              {% if step_form.is_valid %}
                <svg viewBox="0 0 24 24" class="ml-1 h-4 w-4 fill-current text-white rounded-full bg-green-500"><path d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"></path></svg>
              {% elif step_form.errors %}
                <svg viewBox="0 0 24 24" class="ml-1 h-4 w-4 fill-current text-white rounded-full bg-red-600"><path d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"></path></svg>
              {% endif %}
            </button>
          </li>
        {% endfor %}
      </ul>

      <div class="w-full md:w-3/4 mb-8">
        <h2 class="text-green-500 text-xl mb-2 ">{{ form.Meta.title }}</h2>
        {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
            {% crispy form %}
          {% endfor %}
        {% else %}
          {% crispy wizard.form %}
        {% endif %}
      </div>
    </div>

    <div class="mt-6 flex items-center">
      {% if wizard.steps.next %}
        <button class="order-2 button button-primary ml-auto" type="submit">Weiter →</button>
      {% else %}
        <button class="order-2 button button-primary ml-auto" type="submit">Anmelden</button>
      {% endif %}

      {% if wizard.steps.prev %}
        <button class="text-gray-600 hover:text-gray-800 focus:text-gray-800" type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">← Zurück</button>
      {% else %}
        <a class="text-gray-600 hover:text-gray-800 focus:text-gray-800" href="/">
          ✖ Abbrechen
        </a>
      {% endif %}
    </div>

  </form>
</div>
{% endblock content %}
