{% extends "base.html" %}
{% load crispy_forms_tags static %}


{% block head_title %}Neues Seminar anmelden{% endblock %}


{% block content %}
<div class="mx-auto max-w-4xl">
  <div class="mb-6 pb-4 flex flex-wrap items-end justify-between border-b">
    <h1 class="font-bold text-2xl">Neues Seminar anmelden</h1>
  </div>

      
  {% if request.user.seminars.all|length == 0%}
    {% if preferences.JANUNSeminarPreferences.seminar_policy_url %}
    <div class="text-gray-700 mb-4">
      <p>Dies scheint Dein erstes Seminar zu sein.</p>
      <p>
        Bitte lies Dir vorher die
        <a class="underline hover:text-gray-900" rel="noreferrer" target="_blank" href="{{ preferences.JANUNSeminarPreferences.seminar_policy_url }}">
          Seminarrichtlinie</a>
        durch.
      </p>
    </div>
    {% endif %}
  {% endif %}


  <div class="text-gray-700">
    <p class="mb-2">
      Nach Deiner Anmeldung prüfen wir, ob wir das Seminar fördern können.<br>
      Eine Rückmeldung (Zusage oder Absage) erfolgt meist in den nächsten 1–2 Wochen.
    </p>
    <p>
      Nach Deinem Seminar musst Du bis zur Abrechnungsfrist eine Abrechnung einreichen.<br>
      Erst nach erfolgreicher Prüfung der Abrechnung erfolgt die Förderung.
    </p>
  </div>
</div>

<form method="post" action="{{ request.path }}" class="md:mt-10 relative js-focus-invalid">
  <div class="mx-auto max-w-4xl">
    {% crispy form %}
  
    <div class="flex items-center justify-end md:py-4">
      <div class="max-w-xs flex flex-col">
        <button class="ml-auto button button-primary form-invalid:bg-gray-400" type="submit">Anmelden</button>
        <p class="mt-4 text-xs text-right text-gray-700">
          Du erhälst eine Bestätigung<br>und kannst auch später noch Änderungen vornehmen.
        </p>
      </div>
    </div>
  </div>
  
</form>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'scripts/teamer_create.js' %}"></script>
{% endblock javascript %}