{% extends "base.html" %}

{% block head_title %}{{ seminar.title }} erfolgreich angemeldet{% endblock %}

{% block content %}
<div class="mx-auto max-w-3xl md:bg-white md:shadow-lg pb-8 md:pt-6 rounded-lg">

  <div class="flex items-center mb-4 md:px-8 pb-6">
    <h1 class="text-green-500 text-2xl font-bold">{{ seminar.title }} erfolgreich angemeldet</h1>
  </div>

  <div class="md:px-8">

    <p>Dein Seminar am {{ seminar.start_date }} wurde erfolgreich angemeldet.</p>
    <p>Wir werden jetzt prüfen, ob wir es fördern können.</p>
    <p class="mt-6">Auf der folgenden Seite kannst Du das Seminar einsehen und noch Änderungen vornehmen.</p>

    <div class="mt-6 flex items-center">
      <a id="next" class="flex items-center button button-primary ml-auto" href="{{ seminar.get_absolute_url }}">
        Seminar ansehen
        <svg viewBox="0 0 20 20" class="ml-2 fill-current h-3 w-3"><path d="M16.172 9l-6.071-6.071 1.414-1.414L20 10l-.707.707-7.778 7.778-1.414-1.414L16.172 11H0V9z"></path></svg>
      </a>
    </div>

  </div>

</div>

<script>
  document.getElementById("next").focus();
</script>
{% endblock content %}
