{% load static i18n %}

<div class="navbar">
  <nav class="navbar__inner container">

    <ul>
      <li><a href="{% url 'dashboard:dashboard' %}"
             class="{% if request.resolver_match.namespace == "dashboard" %}active{% endif %}">
             Übersicht</a></li>
      <li><a href="{% url 'groups:list' %}"
             class="{% if request.resolver_match.namespace == "groups" %}active{% endif %}">
             Gruppen</a></li>
      <li><a href="{% url 'seminars:list' %}"
             class="{% if request.resolver_match.namespace == "seminars" %}active{% endif %}">
             Seminare</a></li>
      {% if perms.users.can_see_all_users %}
        <li><a href="{% url 'users:list' %}"
              class="{% if request.resolver_match.namespace == "users" %}active{% endif %}">
              Benutzer</a></li>
      {% endif %}
      {% if user.is_staff  %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
      {% endif %}
    </ul>

    <ul class="float-right">
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'users:detail' request.user.username  %}"
               class="{% if request.resolver_match.namespace == "users" %}active{% endif %}">
               {{ request.user.username }}</a></li>
        <li><a href="{% url 'account_logout' %}"
               class="{% if request.resolver_match.url_name == "account_logout" %}active{% endif %}">
               {% trans "Sign Out" %}</a></li>
      {% else %}
        <li><a href="{% url 'account_signup' %}"
               class="{% if request.resolver_match.url_name == "account_signup" %}active{% endif %}">
               {% trans "Sign Up" %}</a></li>
        <li><a href="{% url 'account_login' %}"
               class="{% if request.resolver_match.url_name == "account_login" %}active{% endif %}">
               {% trans "Sign In" %}</a></li>
      {% endif %}
    </ul>

  </nav>
</div>
