{% load comments %}
{% load rules %}

<div style="margin-top: 180px;"></div>

<h3 class="margin-bottom-30">Kommentare</h3>
<div class="comment-form">
  {% get_comment_form for object as form %}
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'seminars:detail' object.id %}#comments" />
    <input type="submit" class="button button-primary" value="Kommentieren" id="id_submit" />
  </form>
</div>

<script>
  // enable/disable submit button on textarea input
  var button = document.getElementById('id_submit');
  button.disabled = true;
  var comment = document.getElementById('id_comment');
  comment.addEventListener("input", function() {
    if (comment.value !== "") {
      button.disabled = false;
    } else {
      button.disabled = true;
    }
  });
</script>

{% get_comment_list for object as comment_list %}
{% if comment_list %}
  <div id="comments" class="comment-list">
      {% for comment in comment_list reversed %}
        <div>
          <div id="c{{ comment.id }}" class="comment">
            <span class="comment__meta">
              <span>{{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}</span>,
              <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.name }}</a>
              {% has_perm 'django_comments.can_moderate' user comment as can_moderate %}
              {% if can_moderate %}
                <span class="float-right">
                  <a href="{% url 'comments-delete' comment.id %}"?next="{% url 'seminars:detail' object.id %}">Löschen</a>
                </span>
              {% endif %}
            </span>
            <p class="comment__text">{{ comment.comment }}</p>
          </div>
        </div>
      {% endfor %}
  </div>
{% else %}
  <p>Keine Kommentare</p>
{% endif %}
