{% load rules %}
{% load humanize %}

<div style="margin-top: 180px;"></div>

<h3 id="comments" class="margin-bottom-30">Kommentare</h3>
<div class="comment-form clearfix">
  <form action="{% url 'seminars:create_comment' object.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" class="button bg-green float-right" value="Kommentieren" id="id_submit_comment" />
  </form>
</div>

<script>
  // enable/disable submit button on textarea input
  var button = document.getElementById('id_submit_comment');
  var comment = document.getElementById('id_comment');
  function checkComment() {
    button.disabled = (comment.value === "");
  }
  comment.addEventListener("input", checkComment);
  checkComment();
</script>

{% if comments %}
  <div id="comments" class="comment-list">
      {% for comment in comments reversed %}

        <div>
          <div id="c{{ comment.id }}" class="comment">
            <span class="comment__meta">
              <time datetime="{{ comment.created|date:'c' }}" title="{{ comment.created|date:"DATETIME_FORMAT" }}">
                {{ comment.created|naturaltime }}</time>
              von <a href="{{ comment.author.get_absolute_url }}">{{ comment.author.name }}</a>
              {% has_perm 'seminars.delete_seminar_comment' user comment as can_delete %}
              {% if can_delete %}
                <span class="float-right">
                  <a href="{% url 'seminars:delete_comment' seminar.pk comment.pk %}">Löschen</a>
                </span>
              {% endif %}
            </span>
            <p class="comment__text">{{ comment.comment|linebreaksbr }}</p>
          </div>
        </div>

      {% endfor %}
  </div>
{% else %}
  <p>Keine Kommentare</p>
{% endif %}
