{% load crispy_forms_tags svg %}

<div class="mw-500" style="margin-top: 100px">

  <div class="clearfix mb-5">
    <h3 id="comments">{% svg 'icon-chat' %} Kommentieren</h3>
    <form class="comment-form my-3" action="{% url 'seminars:create_comment' object.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form|crispy }}
      <button id="id_submit_comment" class="btn btn-primary float-right" type="submit">
        <span style="margin-left: -8px">{% svg 'icon-chat' %}</span>
        Kommentieren
      </button>
    </form>
  </div>

  <script>
    // enable/disable submit button on textarea input
    var button = document.getElementById('id_submit_comment');
    var comment = document.getElementById('id_comment');
    function checkComment() {
      button.disabled = (comment.value === "");
    }
    comment.addEventListener("input", checkComment);
    checkComment();
  </script>

  {% if comments %}
      {% for comment in comments reversed %}
          {% include "seminars/_comment.html" with show_delete=True %}
      {% endfor %}
  {% else %}
    <p>Keine Kommentare</p>
  {% endif %}

</div>
