<a class="card" style="min-height: 180px" href="{% url 'seminars:detail' object.id %}">

  <div class="card-body text-body">
    <small class="text-secondary">{{ object.start|date:"j.n.Y" }}</small>
    <span class="float-right shadow-sm badge badge-pill badge-{{ object.get_state_color }}">{{ object.get_state_display }}</span>
    <h3 class="h4 my-2 text-body">{{ object.title }}</h3>

    {% if object.group %}
      {% include "groups/_group.html" with group=object.group nolink=True %}
    {% endif %}

  </div>
</a>
