<div class="panel margin-top-60 margin-bottom-60">
  <h2>Status:</h2>
  <div class="seminar-state">

    <div class="seminar-state__current font-weight-bold margin-bottom-30 color-{{ object.get_state_color }}">
      {{ object.get_state_display|title }}
    </div>

    {% if available_transitions %}
      <div class="seminar-state__arrow">→</div>

      <div class="seminar-state__transitions">
        {% for transition in available_transitions %}
          <a
            href="{% url 'seminars:change_state' object.pk transition.name %}"
            class="button bg-{{ transition.custom.color }}">
            {{ transition.custom.button_name }}
          </a>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>
