{% extends "base.html" %}

{% load rules %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} {{ object.title }}{% endblock %}

{% block content %}
<a class="backlink" href="{% url 'seminars:list' %}">← Alle Seminare</a>


<div class="clearfix">
  <h1 class="h2 float-md-left font-weight-bold">{{ object.title }}</h1>
  {% has_perm 'seminars.delete_seminar' user object as can_delete %}
  {% if can_delete %}
    <a class="float-md-right btn btn-outline-danger my-2"
       href="{% url 'seminars:delete' object.id %}" data-toggle="modal" data-target="#deleteModal">
       Seminar löschen
     </a>
  {% endif %}
</div>


<p>
  {% if object.start.date == object.end.date %}
    {{ object.start|date:"d.m.y" }}
  {% else %}
    {{ object.start|date:"d.m.y" }}
    bis {{ object.end|date:"d.m.y" }}
  {% endif %}
  {% if object.location %}
    in {{ object.location }}
  {% endif %}
  <br>
  <span class="text-secondary">
    Angemeldet
    {% if object.author %}
      von <a href="{{ object.author.get_absolute_url }}">{{ object.author.get_short_name }}</a>
    {% endif %}
    am {{ object.created|date:"d.m.y" }}<br>
    Gruppe:
    {% if object.group %}
      <a href="{% url 'groups:detail' object.group.id %}">{{ object.group.name }}</a>
    {% else %}
      keine Gruppe
    {% endif %}
  </span>
</p>


{% include "seminars/_state.html" %}


<div class="card card-bigger clearfix">
  <h2 class="card-header h3 border-bottom">Seminardaten</h2>
  <div class="card-body">
    <h3>Titel & Inhalt</h3>
    <dl>
      <dt>Titel:</dt>
      <dd>{{ object.title }}</dd>
      <dt>Beschreibung:</dt>
      <dd>{{ object.content|default:"Keine" }}</dd>
    </dl>

    <h3>Zeit & Ort</h3>
    <dl>
      <dt>Startzeitpunkt:</dt>
      <dd>{{ object.start }}</dd>
      <dt>Endzeitpunkt:</dt>
      <dd>{{ object.end }}</dd>
      <dt>Ort:</dt>
      <dd>{{ object.location }}</dd>
    </dl>

    <h3>Tage, Gruppe, Zuschuss</h3>
    <dl>
      <dt>JANUN-Gruppe:</dt>
      <dd>{{ object.group|default:"Keine" }}</dd>
      <dt>Anzahl Bildungstage:</dt>
      <dd>{{ object.planned_training_days }}</dd>
      <dt>Anzahl Teilnehmende:</dt>
      <dd>{{ object.planned_attendees_min }}—{{ object.planned_attendees_max }}</dd>
      <dt>Benötigte Förderung:</dt>
      <dd>{{ object.requested_funding }}</dd>
    </dl>

    <h3>Website</h3>
    <p>Hier sollen dann die Felder für die Website angezeigt werden.</p>

    <h3>Abrechnung</h3>
    <p>Hier sollen dann die Felder für die Abrechnung angezeigt werden.</p>

    <a class="btn btn-secondary" href="{% url 'seminars:edit' object.pk %}">Bearbeiten</a>
  </div>
</div>


{% include "seminars/_comments.html" %}

{% endblock %}


{% block modal %}
  <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Seminar löschen?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{% url 'seminars:delete' object.pk %}">
          <div class="modal-body">
            <p>Möchtest Du wirklich das Seminar <strong>{{ object }}</strong> löschen?</p>
            {{ delete_form | crispy }}
          </div>
          <div class="modal-footer">
            {% csrf_token %}
            <button type="button" class="btn btn-link" data-dismiss="modal">Abbrechen</button>
            <button type="submit" class="btn btn-danger">Löschen</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  $('#stateModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var buttonName = button.data('button-name');
    var transitionColor = button.data('transition-color');
    var formAction = button.data('form-action')
    var modal = $(this);
    modal.find('.modal-title').text('Seminar ' + buttonName + '?');
    modal.find('.modal-body p').text('Seminar ' + buttonName + '?');
    modal.find('form').attr('action', formAction);
    modal.find('[type=submit]').text(buttonName);
    modal.find('[type=submit]').attr('class', 'btn btn-' + transitionColor);
    modal.find('.modal-title').attr('class', 'modal-title text-' + transitionColor);

  })
</script>
{% endblock %}
