{% extends "base.html" %}

{% block title %}{{ block.super }} {{ object.name }} löschen?{% endblock %}

{% block content %}
<a class="backlink" href="{% url 'seminars:detail' object.id %}">← {{ object.title }}</a>

<form class="alert" method="post">
  {% csrf_token %}
  <p>Möchtest Du wirklich das Seminar <strong>{{ object }}</strong> löschen?</p>
  <a class="button" href="{% url 'seminars:detail' object.id %}">Nein, abbrechen</a>
  <input class="button button-danger" type="submit" value="Ja, löschen" />
</form>

{% endblock %}
