{% extends "seminars/seminar_wizard.html" %}

{% block after_form %}
<p>
  Seminare mit weniger als 10 Teilnehmenden können leider nicht gefördert werden.
</p>
<p>
  Die Förderung geht in der Regel auch nur bis 40 Teilnehmende.
  Aber Ausnahmen sind manchmal möglich. Sprich uns an per Telefon oder E-Mail.
</p>
<p>
  Mehr als die Hälfte (50%+1) der Teilnehmer_innen müssen ihren Wohnsitz in Niedersachsen haben
  und mehr als die Hälfte (50%+1) der Teilnehmer_innen müssen mindestens 12 Jahre alt sein und maximal 27.<br>
  Diese Quoten müssen über den gesamten Seminarzeitraum eingehalten werden.
</p>
{% endblock %}
