{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }} Seminar anmelden{% endblock %}

{% block content %}
<a class="backlink" href="{% url 'seminars:detail' object.pk %}">← {{ object.title }}</a>
<h1>Seminar bearbeiten</h1>

<div class="panel">
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="panel__footer">
    <a class="button" href="{% url 'seminars:detail' object.pk %}">Abbrechen</a>
    <input class="button bg-green" type="submit" value="Speichern" />
  </div>
</form>
</div>

{% endblock %}
