{% extends "base.html" %}

{% load rules %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load static svg %}

{% block title %}{{ block.super }} Alle Seminare{% endblock %}


{% block content %}
<div class="clearfix">
  <h1 class="float-left h3">Alle Seminare</h1>
  <div class="float-md-right">
    <a class="btn btn-outline-primary" href="{% url 'seminars:create' %}">
      <span style="margin-left: -8px">{% svg 'icon-add' %}</span>
      Seminar anmelden
    </a>
  </div>
</div>

<a class="my-3 d-lg-none btn btn-sm btn-secondary" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">
  Filter-Optionen
</a>

<form id="filters" class="d-lg-block filter-form collapse" action="" method="get">
  {% crispy filter.form %}
  <span class="">
    <a class="btn btn-sm btn-link text-secondary" href="?">Reset</a>
    <button class="btn btn-sm btn-outline-secondary" type="submit">Filter</button>
  </span>
</form>

{% include "seminars/seminar_staff_list_partial.html" %}

{% endblock %}

{% block javascript %}
{{ block.super }}

<script>
function openURL(url) {
  $.get(url, function (response) {
    $('#result').replaceWith(response);
    window.history.replaceState({"url": url}, "", url);
    registerDataLinks();
  });
}

function submitFilterForm(form) {
  openURL("?" + form.serialize());
}

var form = $('#filters')
form.find('input[type=text], input[type=number], select').each(function () {
	$(this).change(function() {submitFilterForm(form)});
	$(this).on('input', debounce(function () {submitFilterForm(form)}, 300));
});

$(document).keyup(function(e) {
  if (e.keyCode === 27) {
		window.location = window.location.href.split("?")[0];
	}
});
</script>
{% endblock %}
