{% extends "base.html" %}

{% load rules %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load static svg %}

{% block title %}{{ block.super }} {{ heading }}{% endblock %}

{% block content %}
<div class="clearfix">
  <h1 class="float-left h3 text-body">
    Deine Seminare
    {% if count != total_count %}
      <small style="font-size: 0.9rem; color: #666" class="ml-1">{{ count }} gefunden</small>
    {% endif %}
    <small style="font-size: 0.9rem; color: #999" class="ml-1">{{ total_count }} insgesamt</small>
  </h1>
  <a class="btn btn-primary float-md-right" href="{% url 'seminars:create' %}">
    <span style="margin-left: -8px">{% svg 'icon-add' %}</span>
    Seminar anmelden
  </a>
</div>

{% if total_count > 6 %}
  <form class="filter-form my-3" style="max-width: 300px" action="" method="get">
    {{ filter.form|crispy }}
  </form>
{% endif %}


{% if total_count != 0 %}
  {% if object_list %}
    {% regroup object_list by start.year as seminars_by_year %}
    {% for year, seminars in seminars_by_year %}
      <div class="my-5">
        <h3 class="h5 text-secondary mb-0">{{ year }}</h3>
        <div class="row">
        {% for seminar in seminars %}
          <div class="col-md-6 col-lg-4 my-3">
            {% include "seminars/_seminar.html" with object=seminar %}
          </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% else %}
  <div class="" style="height: 120px; padding-top: 30px">
    Keine Ergebnisse.
    <br><br>
    <a class="text-secondary" href="?" style="text-decoration: underline; font-size: 12px">
      Filter zurücksetzen
    </a>
  </div>
  {% endif %}
{% else %}
  <p class="mt-3">Du hast noch keine Seminare angemeldet</p>
{% endif %}


{% endblock %}
