{% extends "base.html" %}

{% load rules %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} {{ heading }}{% endblock %}

{% block container_class %}big-container{% endblock %}

{% block content %}
<div class="clearfix">
  <h1 class="float-left">{{ heading }}</h1>
  <a class="button bg-green float-right" href="{% url 'seminars:create' %}">Seminar anmelden</a>
</div>

<form class="filter-form" action="" method="get">
  {{ filter.form|crispy }}
  <div class="filter-form__buttons">
    <button class="button bg-green" type="submit">Suche</button>
    <a href="?" class="button" type="submit">zurücksetzen</a>
  </div>
</form>

<div class="table-wrapper">
  {% render_table table %}
</div>
{% endblock %}
