{% extends "base.html" %}

{% block title %}{{ block.super }} {{ object.title }}{% endblock %}

{% block content %}
<a class="backlink" href="{% url 'seminars:list' %}">← Alle Seminare</a>

<h1>{{ object.title }}</h1>

<p>
  {{ object.start|date:"SHORT_DATETIME_FORMAT" }}
  <span class="color-grey">bis</span> {{ object.end|date:"SHORT_DATETIME_FORMAT" }}
  {% if object.location %} <span class="color-grey">in</span> {{ object.location }}{% endif %}
</p>

<p class="color-grey">
  angemeldet von <a href="{{ object.author.get_absolute_url }}">{{ object.author }}</a>
  am {{ object.created|date:"SHORT_DATE_FORMAT" }}
  {% if object.group %}
    für <a href="{% url 'groups:detail' object.group.id %}">{{ object.group.name }}</a>
  {% else %}
    (ohne Gruppe)
  {% endif %}
</p>

<br>

<p>Status: {{ object.state.title }}</p>

<br>

<p>Geplante Bildungstage: {{ object.planned_training_days }}</p>
<p>Geplante Teilnehmende: {{ object.planned_attendees.lower }}–{{ object.planned_attendees.upper }}</p>
<p>Angeforderte Förderung: {{ object.requested_funding }}</p>

{% endblock %}
