{% extends "base.html" %}

{% load rules %}

{% block title %}{{ block.super }} {{ object.title }}{% endblock %}

{% block content %}
<a class="backlink" href="{% url 'seminars:detail' object.pk %}">← {{ object.title }}</a>

<div class="panel">
  <h1>Seminar wirklich {{ transition.custom.button_name|lower }}?</h1>
  <p>Seminar <strong>{{ object.title }}</strong> wirklich {{ transition.custom.button_name|lower }}?</p>

  <form method="post" action="">
    {% csrf_token %}

    <div class="panel__footer">
      <a class="button" href="{% url 'seminars:detail' object.pk %}">Nein, Abbrechen</a>
      <button type="submit" class="button bg-{{ transition.custom.color }}">
        Ja, {{ transition.custom.button_name }}
      </button>
    </div>
  </form>
</div>
{% endblock %}
