{% extends "seminars/seminar_wizard.html" %}

{% block before_form %}
<p>
  Bildungstage sind Tage, an denen mindestens 6 Zeitstunden Bildungsarbeit stattfinden.
</p>
{% endblock %}

{% block after_form %}
<p>
  <b>Ausnahme für zweitägige Seminare am Wochenende (Fr/Sa oder Sa/So):</b><br>
  Es sind schon 2 Bildungstage wenn insg. 8 Stunden Bildungsarbeit stattfinden.
</p>
<p>
  <b>Ausnahme für An- und Abreisetage:</b><br>
  Sie gelten zusammen als 1 Bildungstag, wenn an beiden zusammen mindestens 6 Stunden Bildungsarbeit stattfinden.
  Und sie gelten sogar als je 1 Bildungstag, wenn außerdem am Anreisetag vor 12 Uhr begonnen wird und am Abreisetag nach 15.30 Uhr geendet wird.
</p>
{% endblock %}
