{% extends "base.html" %}

{% load rules %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} {{ heading }}{% endblock %}

{% block content %}
<div class="clearfix">
  <h1 class="float-left">{{ heading }}</h1>
  <a class="button bg-green float-right" href="{% url 'seminars:create' %}">Seminar anmelden</a>
</div>

<form class="filter-form" action="" method="get">
  {{ filter.form|crispy }}
</form>
{% if orig_count > 15 %}
  {% render_table table %}
{% else %}
  <div class="card-grid">
    {% for seminar in object_list %}
      {% include "seminars/_seminar.html" with object=seminar %}
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
