{% extends "base.html" %}

{% load rules %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} {{ object.title }}{% endblock %}

{% block content %}
<a class="backlink" href="{% url 'seminars:list' %}">← Alle Seminare</a>


<div class="clearfix">
  <div class="float-md-left">
    <h1 class="float-md-left h2 font-weight-bold">
      {{ object.title }}
    </h1>
  </div>

  {% has_perm 'seminars.delete_seminar' user object as can_delete %}
  {% if can_delete %}
    <a class="float-md-right btn btn-outline-danger my-2"
       href="{% url 'seminars:delete' object.id %}" data-toggle="modal" data-target="#deleteModal">
       <i class="fas fa-trash"></i> Seminar löschen
     </a>
  {% endif %}
</div>


<p>
  {% if object.start.date == object.end.date %}
    {{ object.start|date:"d.m.y" }}
  {% else %}
    {{ object.start|date:"d.m.y" }}
    bis {{ object.end|date:"d.m.y" }}
  {% endif %}
  {% if object.location %}
    in {{ object.location }}
  {% endif %}
  <br>
  <span class="text-secondary">
    Angemeldet
    {% if object.author %}
      von <a class="text-secondary" href="{{ object.author.get_absolute_url }}">{{ object.author }}</a>
    {% endif %}
    am {{ object.created|date:"d.m.y" }}<br>
    Gruppe:
    {% if object.group %}
      <a class="text-secondary" href="{% url 'groups:detail' object.group.id %}">{{ object.group.name }}</a>
    {% else %}
      keine Gruppe
    {% endif %}
  </span>
</p>


{% include "seminars/_state.html" %}

{% include "seminars/_seminar_detail_fields.html" %}

{% include "seminars/_comments.html" %}

{% endblock %}


{% block modal %}
  <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Seminar löschen?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{% url 'seminars:delete' object.pk %}">
          <div class="modal-body">
            <p>Möchtest Du wirklich das Seminar <strong>{{ object }}</strong> löschen?</p>
            {{ delete_form | crispy }}
          </div>
          <div class="modal-footer">
            {% csrf_token %}
            <button type="button" class="btn btn-link" data-dismiss="modal">Abbrechen</button>
            <button type="submit" class="btn btn-danger">Löschen</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  $('#stateModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var buttonName = button.data('button-name');
    var transitionColor = button.data('transition-color');
    var formAction = button.data('form-action')
    var modal = $(this);
    modal.find('.modal-title').text('Seminar ' + buttonName + '?');
    modal.find('.modal-body p').text('Seminar ' + buttonName + '?');
    modal.find('form').attr('action', formAction);
    modal.find('[type=submit]').text(buttonName);
    modal.find('[type=submit]').attr('class', 'btn btn-' + transitionColor);
    modal.find('.modal-title').attr('class', 'modal-title text-' + transitionColor);

  })
</script>
{% endblock %}
