{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load svg %}



{% block body_class %}wizard-page{% endblock %}

{% block head %}
  {{ wizard.form.media }}
{% endblock %}

{% block title %}
{{ block.super }}
{% if seminar_title %}
  „{{ seminar_title }}“ anmelden
{% else %}
  Neues Seminar anmelden
{% endif %} ({{ form.Meta.short_title }})
{% endblock %}

{% block container_class %}container mw-960{% endblock %}

{% block content %}
<div class="wizard card card-bigger mx-neg">

  <div class="card-header border-bottom">
    <a onclick="return confirmCancel()" href="{% url "seminars:create" %}?reset" class="card-text close float-right p-1" aria-label="Abbrechen">
      <span aria-hidden="true">{% svg 'icon-close' %}</span>
    </a>
    <h1 class="h4 card-text">
      Neues Seminar anmelden
      <small class="text-secondary">(Schritt&nbsp;{{ wizard.steps.step1 }}/{{ wizard.steps.count }})</small>
    </h1>
  </div>

  <form action="" method="post">
    {% csrf_token %}
    {{ wizard.management_form }}

    <input type="submit" value="Speichern" class="d-none" />

      <div class="card-body">
        <div class="row">

          <div class="col-md-4 d-none d-md-block">
            <ul class="nav flex-column">
              {% for step_name, step_form in steps.items %}
                <li class="nav-item">
                  <button class="btn-reset nav-link d-inline-block text-secondary {% if wizard.steps.current == step_name %}active text-body font-weight-bold{% endif %}"
                     name="wizard_goto_step" type="submit" value="{{ step_name }}">
                    {% if step_form.is_valid %}
                      <span class="text-body">{{ step_form.Meta.short_title }}</span>
                      <span title="Okay">{% svg 'icon-check' %}</span>
                    {% elif step_form.errors %}
                      <span class="text-body">{{ step_form.Meta.short_title }}</span>
                      <span title="Fehler">{% svg 'icon-close-circle' %}</span>
                    {% else %}
                      {{ step_form.Meta.short_title }}
                    {% endif %}
                  </button>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-md mr-3">
            {% if form.Meta.title %}
              <h2 class="h4">{{ form.Meta.title }}</h2>
            {% endif %}

            {% block before_form %}{% endblock %}
            {% block form %}
              {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                  {% crispy form %}
                {% endfor %}
              {% else %}
                {% crispy wizard.form %}
              {% endif %}
            {% endblock form %}
            {% block after_form %}{% endblock %}
          </div>

        </div>
      </div>

      <div class="card-footer clearfix">
        {% if wizard.steps.last == wizard.steps.current %}
          <input class="btn btn-primary float-right" type="submit" value="Anmelden"/>
        {% else %}
          <button class="btn btn-primary float-right" type="submit">
            Weiter {% svg 'icon-arrow-thin-right-circle' %}
          </button>
        {% endif %}

        {% if wizard.steps.prev %}
          <a class="btn btn-link ml-0 pl-1 text-secondary" href="{% url 'seminars:create_step' wizard.steps.prev %}"">
            {% svg 'icon-arrow-thin-left-circle' %}
            Zurück
          </a>
        {% else %}
          <a class="btn btn-link ml-0 pl-1 text-secondary"
            onclick="return confirmCancel()"
            href="{% url "seminars:create" %}?reset">
            {% svg 'icon-close' %}
            Abbrechen
          </a>
        {% endif %}
      </div>

  </form>
</div>

<script>
  function confirmCancel() {
    return confirm('Wirklich Abbrechen? Deine Angaben gehen verloren, wenn Du jetzt abbrichst.');
  }
</script>
{% endblock content %}
