{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div class="form-group{% if 'form-horizontal' in form_class %} row{% endif %}">
        {% if label_class %}
            <div class="{% for offset in bootstrap_checkbox_offsets %}{{ offset }} {% endfor %}{{ field_class }}">
        {% endif %}
    {% endif %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="{% if not field|is_checkbox %}form-group{% if 'form-horizontal' in form_class %} row{% endif %}{% else %}form-check-dis{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="col-form-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if not field.field.required %} <small class="text-secondary optionalField">(optional)</small>{% endif %}
            </label>
        {% endif %}

        {% if field|is_checkboxselectmultiple %}
            {% include './layout/checkboxselectmultiple.html' %}
        {% endif %}

        {% if field|is_radioselect %}
            {% include './layout/radioselect.html' %}
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field|is_checkbox and form_show_labels %}
                <div class="custom-control custom-checkbox">
                    {% crispy_field field 'class' 'custom-control-input' %}
                    <label for="{{ field.id_for_label }}" class="custom-control-label{% if field.field.required %} requiredField{% endif %}">
                        {{ field.label|safe }}{% if not field.field.required %} <small class="text-secondary optionalField">(optional)</small>{% endif %}
                    </label>
                </div>
                {% include './layout/help_text_and_errors.html' %}
            {% elif field|is_select %}
              <div class="custom-control custom-select relative inline-block">
                {% if field.errors %}
                    {% crispy_field field 'class' 'w-full pr-8 form-control custom-select is-invalid' %}
                {% else %}
                    {% crispy_field field 'class' 'w-full pr-8 form-control custom-select' %}
                {% endif %}
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2"><svg viewBox="0 0 20 20" class="fill-current h-4 w-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg></div>
                {% include './layout/help_text_and_errors.html' %}
              </div>
            {% else %}
                {% if not field.field.widget.attrs.help_below %}
                  {% include './layout/help_text.html' %}
                {% endif %}
                <div class="{{ field_class }}">
                    {% if field.errors %}
                      {% crispy_field field 'class' 'form-control is-invalid' %}
                    {% else %}
                      {% crispy_field field 'class' 'form-control' %}
                    {% endif %}
                    {% if field.field.widget.attrs.help_below %}
                      {% include './layout/help_text.html' %}
                    {% endif %}
                    {% include './layout/field_errors_block.html' %}
                </div>
            {% endif %}
        {% endif %}
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
    {% if field|is_checkbox %}
        {% if label_class %}
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endif %}
