@tailwind base;

@tailwind components;

/* button -------------------------------------------------------------------------------------- */
.button {
  @apply inline-block select-none inline-flex items-center py-1.5 px-5 font-bold shadow text-gray-800 bg-gray-400 rounded-full;

  transition: box-shadow 0.1s ease-in-out;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  @apply shadow-lg;
}

.button:active:not(:disabled) {
  @apply shadow-none;
}

/* button-primary */
.button-primary {
  @apply text-white bg-green-500;
}

.button:disabled, .button.disabled {
  @apply bg-gray-400 pointer-events-none cursor-not-allowed;
}

/* forms ------------------------------------------------------------------------------- */
.form-group {
  @apply mb-5;
}

.col-form-label {
  @apply block mb-1 text-sm text-gray-700 font-bold;
}

.form-control {
  @apply appearance-none rounded py-2 px-3 bg-white border border-gray-400 leading-normal max-w-full;
  transition: box-shadow 200ms;
}

.form-control:focus {
  @apply outline-none shadow-outline;
}

.form-control.has-error {
  @apply border-red-600;
}

.form-text {
  @apply block text-sm -mt-1 mb-1 text-gray-600;
}

.invalid-feedback {
  @apply text-red-600;
}

.form-control.is-invalid {
  @apply border-red-500;
}

form.not-editable .form-control {
  @apply bg-transparent;
}

.optionalField {
  display: none;
}

@tailwind utilities;
