{% extends "admin/import_export/change_list.html" %}
{% load janun %}
{% load admin_urls %}

{% block object-tools-items %}
  {% include "admin/import_export/change_list_export_item.html" %}
  {% include "admin/import_export/change_list_import_item.html" %}
  <li><a href="stats" class="stats_link">Statistik</a></li>
  {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
/* right align numerical values in change list */
.field-training_days, .column-training_days,
.field-attendees, .column-attendees,
.field-tnt, .column-tnt,
.field-tnt_cost, .column-tnt_cost,
.field-funding, .column-funding {
  text-align: right;
}
</style>
{% endblock %}

{% block content %}
{% if cl.result_count > 0 %}
    <table id="change_list_stats">
        <tr>
            <td><span class="big">{{ cl.result_count }}</span> Seminare</td>
            <td><span class="big">{{ funding_sum|number }}</span> €</td>
            <td><span class="big">{{ tnt_sum|number:0 }}</span> TNT</td>
        </tr>
    </table>
{% endif %}
       
{{ block.super }}
{% endblock %}