{% extends "admin/change_list.html" %}
{% load humanize %}

{% block extrahead %}
{{ block.super }}
<style>
/* right align numerical values in change list */
.field-training_days, .column-training_days,
.field-attendees, .column-attendees,
.field-tnt, .column-tnt,
.field-tnt_cost, .column-tnt_cost,
.field-funding, .column-funding {
  text-align: right;
}
</style>
{% endblock %}

{% block content %}
{% if cl.result_count > 0 %}
<table id="change_list_stats">
    <tr>
        <td><span class="big">{{ cl.result_count }}</span> Seminare</td>
        <td><span class="big">{{ funding_sum|floatformat:2 }}</span> €</td>
        <td><span class="big">{{ tnt_sum|default:"?"|intcomma }}</span> TNT</td>
    </tr>
    <tr>
        <td></td>
        <td>Ø <span class="bi">{{ funding_avg|floatformat:2 }}</span> €</td>
        <td>Ø <span class="bi">{{ tnt_avg|default:"?"|floatformat:2 }}</span> TNT</td>
        <td>Ø <span class="bi">{{ tnt_cost_avg|floatformat:2|intcomma|default:"?" }}</span> €/TNT</td>
    </tr>
</table>
{% endif %}
       
{{ block.super }}
{% endblock %}