{% extends "admin/base_site.html" %}
{% load janun static %}


{% block extrahead %}
{{ block.super }}
<script src="{% static 'chart.js/dist/Chart.min.js' %}"></script>
{% endblock extrahead %}


{% block content %}
<h1>Statistik</h1>

<h2>Seminare {% now 'Y' %} (min. zugesagt)</h2>
<div class="results">
    <table class="stats">
        <thead>
            <tr>
                <th></th>
                <th>Anzahl</th>
                <th>Förderung</th>
                <th>TNT</th>
                <th>€/TNT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Summe:</td>
                <td><a href="{{ queryset_url }}">{{ count }}</a></td>
                <td>{{ funding_sum|number }}</td>
                <td>{{ tnt_sum|number:0 }}</td>
                <td>{{ tnt_cost|number }}</td>
            </tr>
            <tr>
                <td>Durchschnitt:</td>
                <td></td>
                <td>{{ funding_avg|number }}</td>
                <td>{{ tnt_avg|number }}</td>
                <td>{{ tnt_cost_avg|number }}</td>
            </tr>
            <tr>
                <td>Median:</td>
                <td></td>
                <td>{{ funding_median|number }}</td>
                <td>{{ tnt_median|number }}</td>
                <td>{{ tnt_cost_median|number }}</td>
            </tr>
            <tr>
                <td>Maximum:</td>
                <td></td>
                <td>{{ funding_max|number }}</td>
                <td>{{ tnt_max|number }}</td>
                <td>{{ tnt_cost_max|number }}</td>
            </tr>
        </tbody>
    </table>
</div>

<style>
.stats td {
    text-align:right
}
</style>

<div class="chart-container" style="margin-top: 100px;">
    <canvas id="seminar_chart_funding" width="100" height="25"></canvas>
</div>
<div class="chart-container" style="margin-top: 100px;">
    <canvas id="seminar_chart_tnt" width="100" height="25"></canvas>
</div>
<div class="chart-container" style="margin-top: 100px;">
    <canvas id="seminar_chart_tnt_cost" width="100" height="25"></canvas>
</div>

<script type="text/javascript">
palette = [ 
    '#fcff5d',
    '#7dfc00',
    '#0ec434',
    '#228c68',
    '#8ad8e8',
    '#235b54',
    '#29bdab',
    '#3998f5',
    '#37294f',
    '#277da7',
    '#3750db',
    '#f22020',
    '#991919',
    '#ffcba5',
    '#e68f66',
    '#c56133',
    '#96341c',
    '#632819',
    '#ffc413',
    '#f47a22',
    '#2f2aa0',
    '#b732cc',
    '#772b9d',
    '#f07cab',
    '#d30b94',
    '#edeff3',
    '#c3a5b4',
    '#946aa2',
    '#5d4c86',
]

groups = [
    {% for g in groups %}
        {
            pk: {{ g.pk }},
            name: "{{ g.name }}",
            seminars: {{ g.seminars_this_year }},
            funding: {{ g.funding_this_year|stringformat:'f'|default:0 }},
            url: "{{ s.get_admin_change_url }}",
        },
    {% endfor %}
];

seminars = [
    {% for s in seminars %}
        {
            title: "{{ s.title }}",
            label: "{{ s.title }} am {{ s.start_date|date:'d.m.' }} {% if s.group %}({{ s.group.name }}){% else %}(Einzelperson){% endif %}",
            funding: "{{ s.funding|stringformat:'f' }}",
            tnt: "{{ s.tnt }}",
            tnt_cost: "{{ s.tnt_cost|stringformat:'f' }}",
            url: "{{ s.get_admin_change_url }}",
            start_date: "{{ s.start_date|date:'d.m.' }}",
            group: "{{ s.group.name }}",
            group_pk: "{{ s.group.pk }}"
        },
    {% endfor %}
];


var seminarChart = new Chart(document.getElementById('seminar_chart_funding'), {
    type: 'bar',
    data: {
        labels: seminars.map(s => s.label),
        datasets: [
            {
                label: 'Förderung',
                data: seminars.map(s => s.funding),
                backgroundColor: seminars.map(s => palette[s.group_pk]),
            },
        ]
    },
    options:{
        legend: { display: false },
        onClick: function clickHandler(event) {
            var element = seminarChart.getElementAtEvent(event);
            if (element.length) {
                var index = element[0]._index;
                var url = seminars[index].url;
                window.location = url;
            }
        },
        title: {
            display: true,
            text: 'Förderung'
        },
        tooltips: { mode: 'index', intersect: true },
        scales: {
            xAxes: [{
                display: true,
                type: 'category',
                scaleLabel: { display: true, labelString: 'Seminare nach Datum (Farbe: Gruppe)' },
                ticks: { display: false },
                gridLines: false
            }],
            yAxes: [{
                display: true,
                type: 'linear',
                scaleLabel: { display: true, labelString: 'Förderung in EUR' }
            }]
        }
    }
});


var tntChart = new Chart(document.getElementById('seminar_chart_tnt'), {
    type: 'bar',
    data: {
        labels: seminars.map(s => s.label),
        datasets: [
            {
                label: 'TNT',
                data: seminars.map(s => s.tnt),
                backgroundColor: seminars.map(s => palette[s.group_pk]),
            },
        ]
    },
    options:{
        legend: { display: false },
        onClick: function clickHandler(event) {
            var element = tntChart.getElementAtEvent(event);
            if (element.length) {
                var index = element[0]._index;
                var url = seminars[index].url;
                window.location = url;
            }
        },
        title: {
            display: true,
            text: 'TNT'
        },
        tooltips: { mode: 'index', intersect: true },
        scales: {
            xAxes: [{
                display: true,
                type: 'category',
                scaleLabel: { display: true, labelString: 'Seminare nach Datum (Farbe: Gruppe)' },
                ticks: { display: false },
                gridLines: false
            }],
            yAxes: [{
                display: true,
                type: 'linear',
                scaleLabel: { display: true, labelString: 'TNT' }
            }]
        }
    }
});

var tntCostChart = new Chart(document.getElementById('seminar_chart_tnt_cost'), {
    type: 'bar',
    data: {
        labels: seminars.map(s => s.label),
        datasets: [
            {
                label: 'Förderungskosten EUR/TNT',
                data: seminars.map(s => s.tnt_cost),
                backgroundColor: seminars.map(s => palette[s.group_pk]),
            },
        ]
    },
    options:{
        legend: { display: false },
        onClick: function clickHandler(event) {
            var element = tntCostChart.getElementAtEvent(event);
            if (element.length) {
                var index = element[0]._index;
                var url = seminars[index].url;
                window.location = url;
            }
        },
        title: {
            display: true,
            text: 'Förderungskosten EUR/TNT'
        },
        tooltips: { mode: 'index', intersect: true },
        scales: {
            xAxes: [{
                display: true,
                type: 'category',
                scaleLabel: { display: true, labelString: 'Seminare nach Datum (Farbe: Gruppe)' },
                ticks: { display: false },
                gridLines: false
            }],
            yAxes: [{
                display: true,
                type: 'linear',
                scaleLabel: { display: true, labelString: 'EUR/TNT' }
            }]
        }
    }
});
</script>

{% endblock %}