.button {
  @apply inline-block select-none inline-flex items-center py-1.5 px-5 font-bold shadow text-gray-800 bg-gray-400 rounded-full;

  transition: box-shadow, transform, background-color 0.1s ease-out;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  @apply shadow-lg;

  transform: translateY(-1px);
}

.button:focus:not(:disabled) {
  @apply outline-none shadow-outline;
}

.button:active:not(:disabled) {
  @apply shadow-none;

  transform: translateY(1px);
}

.button-primary {
  @apply text-white bg-green-500;
}

.button-primary:hover:not(:disabled),
.button-primary:focus:not(:disabled) {}

.button:disabled, .button.disabled {
  @apply bg-gray-400 pointer-events-none cursor-not-allowed;
}