.table-container table {
  @apply w-full text-sm bg-white rounded-lg shadow-md;
}

.table-container th {
  @apply text-left px-2 py-3 text-gray-700 bg-gray-100 font-semibold text-xs uppercase tracking-wider whitespace-no-wrap;
  box-shadow: 0 2px 0 0 #edf2f7;
  z-index: 10;
}

.table-sticky th {
  @apply sticky top-0;
}

.table-container th a {
  @apply inline-block -my-3 py-3 w-full;
}

.table-container th:first-child {
  @apply rounded-tl-lg;
}

.table-container th:last-child {
  @apply rounded-tr-lg;
}

.table-container td {
  @apply px-2 py-5 border-b border-gray-200 text-gray-800;
}

@screen xl {
  .table-container th {
    @apply px-5 py-3;
  }

  .table-container th a {
    @apply -my-3 py-3;
  }

  .table-container td {
    @apply p-5;
  }

}

/* table-condensed */
.table-condensed td {
  @apply p-2;
}

.table-condensed td:first-child {
  @apply pl-4;
}

.table-condensed td:last-child {
  @apply pr-4;
}

.table-condensed th {
  @apply p-2;
}

.table-condensed th:first-child {
  @apply pl-4;
}

.table-condensed th:last-child {
  @apply pr-4;
}

.table-condensed .table-condensed-hidden {
  @apply hidden;
}

/* row-link */
.js-row-link tbody tr {
  @apply cursor-pointer;
}

.js-row-link tr:hover {
  @apply bg-gray-150;
}

.js-row-link td:first-child {
  position: relative;
}

.js-row-link td * {
  position: relative;
  z-index: 1;
}

.js-row-link-link.js-row-link-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
}


.table-container td a:hover {
  @apply underline;
}

.table-container .primary-column {
  @apply font-bold;
}

.table-container .numeric {
  @apply text-right whitespace-no-wrap;
}

/* orderable */
th.orderable a:after {
   content: "↑";
   opacity: 0;
}

th.orderable:hover a:after {
  opacity: 1;
}

th.asc, th.desc {
  @apply font-bold text-gray-900;
}

th.asc a:after {
  content: "↑";
  opacity: 1;
}

th.desc a:after {
  content: "↓";
  opacity: 1;
}

/* filters */
.filters .form-group {
  @apply mr-4;
}

.filters input, .filters select {
  @apply text-sm bg-white;
}