{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Anmelden{% endblock %}

{% block content %}
<div class="mx-auto max-w-sm md:bg-white md:shadow-lg md:p-8 md:pt-4 rounded-lg">
  <h1 class="font-bold text-2xl text-green-500">Anmelden</h1>

  <p class="mb-5 mt-4">
    Noch kein Konto?
    <a class="text-green-500" href="{{ signup_url }}">Konto erstellen →</a>
  </p>

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <a class="block mb-6 -mt-3 text-gray-700 text-sm" href="{% url 'account_reset_password' %}">Passwort vergessen?</a>
    <div class="flex">
      <button class="md:ml-auto button button-primary" type="submit">Anmelden →</button>
    </div>
  </form>
</div>
{% endblock %}
