{% extends "account/base.html" %}
{% load i18n account crispy_forms_tags %}


{% block head_title %}Passwort Zurücksetzen{% endblock %}

{% block content %}
<div class="mx-auto max-w-md md:bg-white md:shadow-lg md:px-8 pb-8 md:pt-4 rounded-lg">
    <h1 class="font-bold text-2xl">Passwort Zurücksetzen</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="my-5">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-control-w-full">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mt-10 flex flex-wrap items-center justify-end -mb-8 -mx-8 px-8 py-4 bg-gray-100 rounded-b-lg">
            <input class="button button-primary" type="submit" value="Zurücksetzen" />
        </div>
    </form>
</div>
{% endblock %}
