{% extends "account/base.html" %}
{% load account %}

{% block head_title %}Passwort Zurücksetzen{% endblock %}

{% block content %}
<div class="mx-auto max-w-md md:card">
    <h1 class="font-bold text-2xl mb-4">E-Mail verschickt</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="mb-2"><strong>Okay, wir haben Dir eine E-Mail geschickt.</strong></p>

    <p class="mb-8">Darin findest Du einen Link, mit dem Du dein Passwort zurücksetzen kannst.</p>

    <p class="mb-2">Solltest Du die E-Mail nicht bald erhalten, kannst Du uns natürlich auch kontaktieren.
    <br>(Aber schau auch mal in Deinen SPAM-Ordner)</p>
</div>
{% endblock %}
