{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="mx-auto max-w-sm md:card">
  {% if token_fail %}
  <h1 class="font-bold text-2xl text-red-600 mb-6">{% trans "Bad Token" %}</h1>
  {% else %}
  <h1 class="font-bold text-2xl mb-6">{% trans "Change Password" %}</h1>
  {% endif %}

  {% if token_fail %}
  {% url 'account_reset_password' as passwd_reset_url %}
  <p>
    Der Link war ungültig. Vielleicht wurde er schon mal benutzt.
    <a class="underline" href="{{ passwd_reset_url }}">Nochmal versuchen</a>.
  </p>
  {% else %}
  {% if form %}
  <form class="form-control-w-full js-focus-invalid" method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {{ form | crispy }}

    <div class="mt-5 md:card-footer">
      <input class="button button-primary" type="submit" name="action" value="Passwort ändern" />
    </div>
  </form>
  {% else %}
  <p>{% trans 'Your password is now changed.' %}</p>
  {% endif %}
  {% endif %}
</div>
{% endblock %}