{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Passwort ändern{% endblock %}

{% block content %}
<div class="mx-auto max-w-sm md:bg-white md:shadow-lg md:px-8 pb-8 md:pt-4 rounded-lg">
    <h1 class="mb-4 font-bold text-2xl">Passwort ändern</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-control-w-full">
        {% csrf_token %}
        {{ form | crispy }}

         <div class="mt-10 flex flex-wrap items-center -mb-8 -mx-8 px-8 py-4 bg-gray-100 rounded-b-lg">
            <a class="text-gray-600 hover:text-gray-900 focus:text-gray-900 mr-2" href="{% url 'account_profile' %}">Abbrechen</a>
            <button class="ml-auto ml-2 button button-primary" type="submit" name="action">
                Passwort ändern
            </button>
        </div>
    </form>
</div>
{% endblock %}
