{% extends "account/base.html" %}

{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="mx-auto max-w-sm md:bg-white md:shadow-lg md:px-8 pb-8 pt-4 rounded-lg">
    <h1 class="mb-4 font-bold text-green-500 text-2xl">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}

         <div class="mt-8 flex flex-wrap -mx-2">
            <a class="button button-secondary m-2" href="{% url 'account_profile' %}">Abbrechen</a>
            <button class="md:ml-auto m-2 button button-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}
