{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Passwort ändern{% endblock %}

{% block content %}
<div class="mx-auto max-w-sm md:card">
    <h1 class="mb-5 font-bold text-xl">Passwort ändern</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-control-w-full js-focus-invalid">
        {% crispy form %}

        <div class="md:card-footer mt-10">
            <a class="text-gray-700 hover:text-gray-900 focus:text-gray-900 mr-4" href="{% url 'account_profile' %}">Abbrechen</a>
            <button class="ml-4 button button-primary" type="submit" name="action">
                Passwort ändern
            </button>
        </div>
    </form>
</div>
{% endblock %}
