{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} Dein Konto{% endblock %}

{% block content %}
<div class="mx-auto max-w-4xl mb-5 md:mb-10">
  <h1 class="mb-4 font-bold text-2xl pb-4 border-b">Dein Konto</h1>
  <div class="text-sm text-gray-600">Konto erstellt: {{ user.created_at }}</div>
  <div class="text-sm text-gray-600">Letzter Besuch: {{ user.last_visit }}</div>
</div>

<form class="login" method="POST" action="">
  <div class="max-w-4xl mx-auto">
    {% crispy form %}

    <div class="fieldset border-none">
      <div class="fieldset-header">
        <div class="fieldset-heading">Berechtigungen</div>
        <p class="mb-2">Beeinflusst worauf Du Zugriff hast.</p>
        <p>Solltest Du hier eine Änderung benötigen, musst Du uns kontaktieren.</p>
      </div>
      <div class="fieldset-content">
        <div class="mb-4"><div class="col-form-label">Konto-Rolle</div>{{ user.role }}</div>

        <div class="mb-4">
          <div class="col-form-label">Gruppen-Mitgliedschaften</div>
          {% if user.janun_groups.all %}
            <ul>
              {% for group in user.janun_groups.all %}
                <li><a class="underline" href="{% url 'groups:detail' group.slug %}">{{ group.name }}</a></li>
              {% endfor %}
            </ul>
            {% if not user.is_reviewed %}
              <p class="my-2 italic">Du kannst aber z.Z. auf keine Gruppen zugreifen, da dein Konto noch nicht überprüft wurde.</p>
            {% endif %}
          {% else %}
            <p>keine</p>
          {% endif %}
        </div>

        {% if user.is_staff %}
          <div class="mb-4">
            <div class="col-form-label">Gruppen-Hüte</div>
            {% if user.group_hats.all %}
              <ul>
                {% for group in user.group_hats.all %}
                  <li><a class="underline" href="{% url 'groups:detail' group.slug %}">{{ group.name }}</a></li>
                {% endfor %}
              </ul>
              {% if not user.is_reviewed %}
                <p class="my-2 italic">Du kannst aber z.Z. auf keine Gruppen zugreifen, da dein Konto noch nicht überprüft wurde.</p>
              {% endif %}
            {% else %}
              <p>keine</p>
            {% endif %}
          </div>
        {% endif %}
          
      </div>
    </div>
  </div>

  <div data-sticky-classes="md:bg-white-75 md:border-t-2" class="js-is-sticky-b md:sticky md:bottom-0 md:-mx-8">
    <div class="flex items-center justify-end md:mx-auto md:max-w-4xl md:py-4">
      <button class="button button-primary" type="submit">Speichern</button>
    </div>
  </div>
</form>

{% endblock %}