{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Konto anlegen{% endblock %}

{% block content %}
<div class="mx-auto max-w-2xl md:border-t-4 md:border-green-500 md:bg-white md:shadow-lg md:rounded-b-lg md:px-8 pb-8 pt-6">
    <h1 class="mb-10 font-bold text-2xl text-green-500">Konto Anlegen</h1>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% crispy form %}
        <div class="flex">
            <button class="md:ml-auto button button-primary" type="submit">Anlegen →</button>
        </div>
    </form>
</div>

<style>
.form-control, .custom-control {
  width: 100%;
}
</style>
{% endblock %}