{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="mx-auto max-w-lg md:bg-white md:shadow-lg rounded-lg md:px-8 pb-8 pt-6">
    <h1 class="mb-10 font-bold text-2xl text-green-500">Neues Konto Anlegen</h1>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% crispy form %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="flex">
        <button class="md:ml-auto button button-primary" type="submit">Anlegen →</button>
    </div>
    </form>
</div>

<style>
.form-control, .custom-control {
  width: 100%;
}
</style>
{% endblock %}