{% extends "base.html" %}

{% load rules %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} Verwendungsnachweise{% endblock %}

{% block content %}
<div class="clearfix my-4">
  <h1 class="float-left h3 text-body">Verwendungsnachweise</h1>
</div>

{% for object in object_list %}
  <div class="card my-5" style="max-width: 480px">
    <div class="card-body">
      <h2 class="h4 font-weight-bosld text-body mb-0">{{ object.year }}</h2>
      <div class="d-flex mt-3 align-items-center">
        <div class=" d-flex align-items-center">
          <span class="font-weight-bold">{{ object.count }}</span>
          <span class="ml-1">Seminare</span>
        </div>
        <div class="ml-auto">
          <a class="mr-3" href="#">Übersicht</a>
          <a href="{% url 'verwendungsnachweis:deckblaetter' object.year %}">Deckblätter</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


{% endblock %}
