{% extends "admin/change_list.html" %}
{% load humanize %}

{% block breadcrumbs %}{% endblock %}


{% block content %}
<table class="stats">
    <thead>
        <tr>
            <th></th>
            <th>Förderung</th>
            <th>TNT</th>
            <th>€/TNT</th>
            <th># TN</th>
            <th>Tage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Summe</td>
            <td>{{ funding_sum|floatformat:2|intcomma }}</td>
            <td>{{ tnt_sum }}</td>
            <td></td>
            <td>{{ attendees_sum }}</td>
            <td>{{ training_days_sum }}</td>
        </tr>
        <tr>
            <td>Mittel</td>
            <td>{{ funding_avg|floatformat:2|intcomma }}</td>
            <td>{{ tnt_avg|floatformat:2 }}</td>
            <td>{{ tnt_cost_avg|floatformat:2 }}</td>
            <td>{{ attendees_avg|floatformat:2 }}</td>
            <td>{{ training_days_avg|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Max</td>
            <td>{{ funding_max|floatformat:2|intcomma }}</td>
            <td>{{ tnt_max }}</td>
            <td>{{ tnt_cost_max|floatformat:2 }}</td>
            <td>{{ attendees_max }}</td>
            <td>{{ training_days_max }}</td>
        </tr>
    </tbody>
</table>

{{ block.super }}
{% endblock %}