@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

$font-family-sans-serif: 'Cabin', Helvetica, Roboto, Arial, sans-serif;

$blue:    #0076A4;
$red:     #C41737;
$orange:  #E95822;
$green:   #3A9D00;
$brown:   #644327;

$secondary: #6c757d;

// $black: #384133;
$gray0: #f9f9f8;
$gray1: #ecedeb;
$gray2: #dfe1dd;
$gray3: #d0d3ce;
$gray4: #c0c5be;
$gray5: #afb4ac;
$gray6: #9ba197;
$gray7: #838b7e;
$gray8: #646f5e;
$gray9: #384133;

//$gray-600: #646f5e;

$colors: (
  "brown":    $brown,
);

$primary:       $green;
$info:          $blue;

$link-color: $brown;

$body-bg: #F9FCF7;
$body-color: $brown;
$headings-color: $green;

// $enable-shadows: true;

$btn-border-radius: 50px;
$btn-padding-x: 25px;
$btn-box-shadow: bottom-shadow(1), top-shadow(1);
$btn-font-weight: bold;


// $component-active-bg: $blue;

$sizes: (
    30px: 30px,
    640px: 640px,
);

// $card-spacer-y: 30px;
$card-border-width: 0;
// $card-cap-bg: #ccc;

$custom-file-text: (
  de: "Durchsuchen",
);

$navbar-padding-y: 0;
$navbar-brand-font-size:            1rem;
$navbar-light-color:                $brown;
$navbar-light-hover-color:          $brown;
$navbar-light-active-color:         $brown;
$navbar-light-disabled-color:       rgba($brown, .3);
$navbar-light-toggler-border-color: transparent;

$nav-tabs-link-active-bg: white;

$kbd-color: white;
$kbd-bg: #999;


$input-bg: #FDFFFC;
// $input-bg: rgba(black, 0.05);
// $input-border-color: $input-bg;
$input-btn-focus-width: .1rem;
$input-btn-focus-color: rgba($blue, 0.3);
$input-focus-border-color: rgba($blue, 0.3);
// $input-group-addon-bg: transparent;
// $input-group-addon-color: #6c757d;

// $custom-select-indicator: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{$secondary}' d='M15.3 10.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3E%3C/svg%3E") !default;
$custom-select-indicator: url(static("svg/icon-cheveron-down.svg"));
$custom-select-bg-size:   20px 20px !default;
$custom-select-indicator-padding: 0.5rem;


// $input-disabled-bg: transparent;

// $btn-focus-width: 1px;

// $pagination-color: $gray-600;
// $pagination-active-bg: transparent;
// $pagination-active-color: $gray-600;


$table-border-width: 0;
