[data-password-toggle] {
  display: none;
}

.navbar {
  @include shadow(2);
}


$navbar-height: 60px;

@include media-breakpoint-up(md) {
  .navbar {
    .nav-link {
      display: inline;
      line-height: $navbar-height;
    }

    &, .nav-item {
      height: $navbar-height;
    }

    .nav-item.active {
      border-bottom: 4px solid $green;
    }
  }
}

.navbar-brand {
  font-weight: bold;
}


.mw-500 {
  max-width: 500px;
}
.mw-640 {
  max-width: 640px;
}
.mw-960 {
  max-width: 960px;
}


.card {
  @include shadow(1);

  &-bigger {
    .card-header {
      @include media-breakpoint-up(md) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      background: white;
      // border-bottom: 1px solid #ccc;
    }
    .card-footer {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.card-accent {
  border-top-width: 8px;
  border-top-style: solid;
  border-color: $green;
}

.mx-neg {
  @include media-breakpoint-down(xs) {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2
  }
}

a.card {
  &:hover {
    @include shadow(2);
    text-decoration: none;
    color: inherit;
  }
}

h1.card-header, .card-header h1{
  font-weight: bold;
}


legend {
  color: $green;
}

.btn-reset {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

// @each $color, $value in $theme-colors {
//   .btn-outline-#{$color}:hover, .btn-outline-#{$color}:active, .btn-outline-#{$color}:focus {
//     background-color: inherit !important;
//     color: inherit !important;
//   }
// }

.btn-link:active {
  box-shadow: none !important;
  // border: none;
}



.optionalField {
  font-size: 70%;
}


.badge-pill {
  padding: 7px 12px;
  @each $color, $value in $theme-colors {
    &.badge-#{$color} {
      background: lighten(desaturate($value, 35%), 40%);
      color: $gray-700;
    }
  }
}
