@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

html {
  font-family: $font-family;
  color: $brown;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.33;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

a {
  font-family: inherit;
  color: $green;
  text-decoration: none;

  &:hover {
    color: $green;
  }
}
