.button, .btn {
  display: inline-block;
  border: none;
  font-size: inherit;
  font-family: inherit;
  border-radius: 50px;
  padding: 10px 25px;
  background: white;
  color: $brown;
  font-weight: bold;
  @include shadow(1);
  text-decoration: none;
  cursor: pointer;
  // margin: 10px;

  &:active {
    @include shadow(0);
  }

  &-colored {
    color: white;
    &:hover {
      color: white;
    }
  }

  &-danger, &--red {
    background: $red;
    @extend .button-colored;
  }
  &-primary, &--green {
    background: $green;
    @extend .button-colored;
  }

  &--red-lined {
    color: $red;
    border: 2px solid $red;
    @include shadow(0);
    &:hover {
      color: $red;
    }
  }
  &--green-lined {
    color: $green;
    border: 2px solid $green;
    @include shadow(0);
  }

  &:disabled {
    background-color: $grey;
    color: white;
    cursor: not-allowed;
  }
}

.btn-reset, .button-reset {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  font-weight: inherit;
}
