.card {
  position: relative;
  display: inline-block;
  height: 180px;
  width: 320px;
  padding: 18px;
  padding-bottom: 10px;
  margin: 10px;
  background: white;
  border-radius: 10px;
  @include shadow(1);
  color: color(brown);
  font-size: 18px;

  &__heading {
    color: color(brown);
    font-size: 20px;
  }

  &__footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    padding-left: 18px;
    padding-right: 18px;
  }

  h1, h2, h3, h4 {
    color: color(brown);
  }

  &:hover, &:focus {
    @include shadow(2);
  }
}

// .card + .card {
//   margin-left: 20px;
// }

.card-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
