.card {
  box-shadow: 0 .1rem .6rem rgba(black, .15);

  &-bigger {
    .card-header {
      background-color: white;
      @include media-breakpoint-up(md) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
    .card-footer {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}


.card-accent {
  border-top-width: 8px;
  border-top-style: solid;
  border-color: $green;
}


a.card {
  &:hover {
    box-shadow: 0 .2rem .8rem rgba(black, .15);
    text-decoration: none;
    color: inherit;
  }
}

h1.card-header, .card-header h1{
  font-weight: bold;
}


.card-header-tabs .nav-link {
  border: none;
}
