.comment-form {
  margin-bottom: 30px;
  width: 100%;

  textarea {
    border-radius: 5px;
    border: 1px solid $lightgrey;
    background-color: inherit;
    width: 100%;
    max-width: 660px;
    padding: 10px;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    margin-bottom: 15px;
  }
}

.comment {
  margin-bottom: 30px;
  width: 100%;

  & + & {
    border-bottom: 1px solid #ccc;
  }

  &__text {
    margin-top: 5px;
    width: 100%;
    max-width: 640px;
  }

  &__meta {
    font-size: 16px;
    color: $grey;
    a {
      color: $grey;
    }
  }

  &--quoted {
    padding-left: 15px;
    border-left: 6px solid rgba($blue, 0.5);
  }
}
