.filter-form {
  font-size: 14px;
  @media (min-width: 600px) {
    font-size: 18px;
  }
  color: color(darkgrey);

  .form__optional {
    display: none;
  }

  &__buttons {
    display: inline-block;
  }

  .col-form-label {
    font-weight: normal;
    display: block;
  }

  .form-control, .numberinput {
    padding: 10px 10px;
  }

  .form-group {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;

    div {
      display: inline-block;
    }
  }
}
