.invalid-feedback {
  display: block;
}

legend {
  color: $green;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.optionalField {
  font-size: 70%;
}

[data-password-toggle] {
  display: none;
}

.password-toggle-label {
  border: none;
  cursor: pointer;
}


.numberinput {
  max-width: 150px;
}


#id_group.select {
  display: block;
  max-width: 200px;
}

#id_location.textinput {
  max-width: 350px;
}

small.form-text {
  margin-bottom: 5px;
}

label + small.form-text {
  margin-top: -5px;
}

// :read-only.is-invalid {
//   background: $red;
//   color: white;
// }
