.navbar {
  @include shadow(2);
}


$navbar-height: 60px;

@include media-breakpoint-up(md) {
  .navbar {
    .nav-link {
      display: inline;
      line-height: $navbar-height;
    }

    &, .nav-item {
      height: $navbar-height;
    }

    .nav-item.active {
      border-bottom: 4px solid $green;
    }
  }
}

.navbar-brand {
  font-weight: bold;
}
