$table-row-height: 60px;

.table {
  td {
    padding: 0 10px;
    vertical-align: middle;
    height: $table-row-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    // max-width: 180px;
    // @include media-breakpoint-up(md) {
    //   max-width: 300px;
    // }

    a {
      display: inline-block;
      height: $table-row-height;
      line-height: $table-row-height;
    }
  }

  tr[data-link] {
    cursor: pointer;
  }

  th {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 1px 0 0 $gray-400;
    font-weight: normal;
    background-color: $gray-100;
    color: $secondary;
    a { color: $secondary; }
  }

  td, td a {
    color: $gray-600;
  }

  .asc a {
    font-weight: bold;
    &:after {
      content: "↑";
      margin-left: 5px;
    }
  }

  .desc a {
    font-weight: bold;
    &:after {
      content: "↓";
      margin-left: 5px;
    }
  }
}
