// .table-wrapper {
//   width: 105%;
//   overflow-x: scroll;
//   padding: 10px;
//   margin-left: -10px;
//   margin-right: -10px;
// }

.table {
  width: 100%;
  background-color: white;
  @include shadow(1);
  border-radius: 5px;
  // overflow: hidden;
  margin-top: 30px;
  color: $brown;
  // font-size: 18px;
  border-collapse: collapse;

  tr {
    height: 60px;
  }

  .odd {
    background-color: #f2f2f2;
  }

  th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px $lightgrey solid;
    color: $darkgrey;
    font-weight: normal;

    a {
      color: $darkgrey;
      font-weight: normal;
    }

    &.asc {
      a {font-weight: bold;}
      &:after {
        content: "↑";
        margin-left: 5px;
      }
    }

    &.desc {
      a {font-weight: bold;}
      &:after {
        content: "↓";
        margin-left: 5px;
      }
    }
  }

  td {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
  }

  &__img {
    height: 40px;
  }

}
