.table {
  width: 100%;
  margin-top: 30px;
  color: color(brown);
  border-collapse: collapse;

  tr {
    height: 60px;

    &[data-link] {
      cursor: pointer;
    }
  }

  .odd, .even {
    &:hover {
      background-color: #f0f0f0;
    }
  }

  th {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 0 0 #ccc;
  }

  th {
    text-align: left;
    padding: 10px;
    color: color(darkgrey);
    font-weight: bold;

    a {
      color: color(darkgrey);
      font-weight: bold;
    }

    &.asc {
      a {font-weight: bold;}
      &:after {
        content: "↑";
        margin-left: 5px;
      }
    }

    &.desc {
      a {font-weight: bold;}
      &:after {
        content: "↓";
        margin-left: 5px;
      }
    }
  }

  td {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;

    a {
      display: inline-block;
      height: 60px;
      line-height: 60px;
    }
  }

  &__img {
    height: 40px;
  }

}
