.mw-500 {
  max-width: 500px;
}
.mw-640 {
  max-width: 640px;
}
.mw-960 {
  max-width: 960px;
}


.mx-neg {
  @include media-breakpoint-down(xs) {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2
  }
}
