.float-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.color-grey {
  color: $grey;
}

.color-darkgrey {
  color: $darkgrey;
}

.color-red {
  color: $red;
}

.color-green {
  color: $green;
}
