{% extends "emails/base.html" %}

{% block content %}
<tr>
  <td class="content-block">
    Hallo {{ user }},
  </td>
</tr>
<tr>
  <td class="content-block">
    Du hast ein neues Konto bei der JANUN-Seminarverwaltung erstellt.
  </td>
</tr>
<tr>
  <td class="content-block">
    bitte bestätige Deine E-Mail-Adresse, indem Du auf folgenden Button klickst:
  </td>
</tr>
<tr>
  <td class="content-block">
    <a href="{{ activate_url }}" class="btn-primary">E-Mail bestätigen</a>
  </td>
</tr>
{% endblock %}
