{% extends "emails/base.html" %}

{% block header %}Passwort zurücksetzen{% endblock %}
{% block title %}Passwort zurücksetzen{% endblock %}


{% block content %}
<tr>
  <td class="content-block">
    Hallo {{ user }},
  </td>
</tr>
<tr>
  <td class="content-block">
    klick auf folgenden Button, um Dein Passwort zurückzusetzen:
  </td>
</tr>
<tr>
  <td class="content-block">
    <a href="{{ password_reset_url }}" class="btn-primary">Passwort zurücksetzen</a>
  </td>
</tr>
{% if username %}
  <tr>
    <td class="content-block">
      Dein Benutzername ist übrigens {{ username }}.
    </td>
  </tr>
{% endif %}
{% endblock %}
