{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}2FA für {{ user.username }} ausschalten?{% endblock %}

{% block content %}
<div class="mx-auto max-w-xl md:card">
    <h1 class="text-red-600 font-bold text-2xl mb-5">2FA für {{ user.username }} ausschalten?</h1>
    
    <p class="mb-5">Bist Du sicher, dass Du die Zwei-Faktor-Authentisierung (2FA)
    für das Konto {{ user.username }} von {{ user.name }} wieder ausschalten willst?</p>

    <form method="post">
        {% csrf_token %}
        <div class="mt-5 md:card-footer">
            <a class="mr-5 text-gray-600 hover:text-gray-800 focus:text-gray-800" href="{{ user.get_absolute_url }}">Abbrechen</a>
            <button class="button button-primary bg-red-600" type="submit">Ja, 2FA ausschalten</button>
        </div>
    </form>
</div>
{% endblock %}