{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} {{ user.name }}{% endblock %}

{% block content %}
<div class="mx-auto max-w-4xl mb-5 md:mb-10">
  <a class="inline-flex items-center text-gray-500 hover:text-gray-800 text-xs mb-4" href="{% url 'users:list' %}">
    <svg class="fill-current mr-2 h-2 w-2" viewBox="0 0 20 20"><polygon points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9"/></svg>
    Konten
  </a>

  <h1 class="mb-4 font-bold text-2xl pb-4 border-b">
    {{ user.name }}
    {% if not user.is_active %}<span class="text-lg text-gray-600">(deaktiviert)</span>{% endif %}
    {% if not user.is_reviewed %}<span class="text-lg text-gray-600">(nicht überprüft)</span>{% endif %}
  </h1>
  <div class="text-sm text-gray-600">Konto erstellt: {{ user.created_at }}</div>
  <div class="text-sm text-gray-600">Letzter Besuch: {{ user.last_visit }}</div>
</div>

<form method="POST" action="">
  <div class="max-w-4xl mx-auto">
    {% crispy form %}
  </div>

  <div data-sticky-classes="md:bg-white-75 md:border-t-2" class="js-is-sticky-b md:sticky md:bottom-0 md:-mx-8">
    <div class="flex items-center justify-end md:mx-auto md:max-w-4xl md:py-4">
      <a class="mr-6 text-gray-700 hover:text-gray-800" href="{% url 'users:delete' user.username %}">Konto löschen</a>
      <button class="button button-primary js-disable-if-unchanged" type="submit">Speichern</button>
    </div>
  </div>
</form>

{% endblock %}