{% load crispy_forms_tags %}

<div class="panel">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}

    {% if contact_people_form %}
      <div class="margin-top-60">
        <h2 id="contact_people">Kontakt-Personen</h2>
        <p>Es sollten <strong>drei Kontaktpersonen</strong> eingetragen werden.</p>
        {{ contact_people_form|crispy }}
      </div>
    {% endif %}

    <div class="panel__footer">
      {% if object.pk %}
        <a class="button" href="{{ object.get_absolute_url }}">Abbrechen</a>
      {% else %}
        <a class="button" href="{% url 'groups:list' %}">Abbrechen</a>
      {% endif %}
      <input class="button bg-green" type="submit" value="Speichern" />
    </div>
  </form>
</div>
