{% extends "base.html" %}

{% load rules django_tables2 crispy_forms_tags svg %}

{% block title %}{{ block.super }} Deine Gruppen{% endblock %}

{% block content %}

<div class="clearfix">
  <h1 class="float-left h3 text-body">
    Deine Gruppen
  </h1>
</div>

{% include "users/_callout_not_reviewed.html" with user=request.user %}

<div>
  {% for group in object_list %}
    <div class="my-3">
      {% include "groups/_group.html" with object=group %}
    </div>
  {% empty %}
    <p>Du bist in keiner Gruppe Mitglied</p>
  {% endfor %}
</div>

{% endblock %}
