{% extends "base.html" %}

{% load rules %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} {{ heading }}{% endblock %}

{% block content %}

{% has_perm 'groups.add_janungroup' user as can_add %}
<div class="clearfix">
  <h1 class="float-left">{{ heading }}</h1>
  {% if can_add %}
    <a href="{% url 'groups:create' %}" class="float-right button bg-green">Gruppe hinzufügen</a>
  {% endif %}
</div>

{% if filter %}
<form class="filter-form" action="" method="get">
  {{ filter.form|crispy }}
  <span class="filter-form__buttons">
    <button class="button bg-green" type="submit">Suche</button>
    <a href="?" class="button" type="submit">zurücksetzen</a>
  </span>
</form>
{% endif %}

{% render_table table %}
{% endblock %}
