{% extends "base.html" %}

{% load rules %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} {{ heading }}{% endblock %}

{% block content %}

{% has_perm 'groups.add_janungroup' user as can_add %}
<div class="clearfix">
  <h1 class="h1 float-left">{{ heading }}</h1>
  {% if can_add %}
    <a href="{% url 'groups:create' %}" class="float-md-right btn btn-outline-primary">Gruppe hinzufügen</a>
  {% endif %}
</div>

{% if show_table %}
  <form class="filter-form" action="" method="get">
    {{ filter.form|crispy }}
    <span style="white-space: nowrap">
      <button type="submit" class="btn btn-primary btn-sm">Filter</button>
      <a class="btn btn-sm" href="{% url 'groups:list' %}">Reset</a>
    </span>
  </form>

  <div class="card mx-neg my-4">
    <div class="table-responsive-lg">
      {% render_table table %}
    </div>
  </div>
{% else %}
  <div>
    {% for group in object_list %}
      <div class="my-3">
        {% include "groups/_group.html" with object=group %}
      </div>
    {% empty %}
      <p>Du bist in keiner Gruppe Mitglied</p>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
