{% extends "base.html" %}

{% load rules %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} {{ heading }}{% endblock %}

{% block content %}

{% has_perm 'groups.add_janungroup' user as can_add %}
<div class="clearfix">
  <h1 class="float-left">{{ heading }}</h1>
  {% if can_add %}
    <a href="{% url 'groups:create' %}" class="float-right button bg-green">Gruppe hinzufügen</a>
  {% endif %}
</div>

{% if orig_count > 5 %}
  <form class="filter-form" action="" method="get">
    {{ filter.form|crispy }}
  </form>
  {% render_table table %}
{% else %}
  <div class="card-grid">
    {% for group in object_list %}
      {% include "groups/_group.html" with object=group %}
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
