{% extends "base.html" %}

{% load rules %}
{% load utils %}

{% block title %}{{ block.super }} {{ object.name }}{% endblock %}

{% block content %}
<a class="backlink" href="{% url 'groups:list' %}">← Alle Gruppen</a>

<div class="clearfix margin-bottom-60">
  <div class="float-right">
    {% has_perm 'groups.change_janungroup' user object as can_edit %}
    {% if can_edit %}
      <a class="button float-right" href="{% url 'groups:edit' object.id %}">bearbeiten</a>
    {% endif %}
    <br>
    {% has_perm 'groups.delete_janungroup' user object as can_delete %}
    {% if can_delete %}
      <a class="button bg-red float-right" href="{% url 'groups:delete' object.id %}">löschen</a>
    {% endif %}
  </div>

  <div style="display: flex; align-items: center;">
    {% include "common/round-image.html" with image=object.logo logo=True css_class="margin-right-30" empty_url="/static/images/group-outline.svg" %}
    <div>
      <h1 style="margin-bottom:0">{{ object.name }}</h1>
      <strong>Gruppenhut:</strong> {{ object.group_hats.all|link_list|default:"niemand" }}<br>
    </div>
  </div>
</div>

{% if object.contact_people.all|length < 3 %}
  <div class="panel bg-blue color-white clearfix margin-bottom-60">
    <a class="button float-right" href="{% url 'groups:edit' object.pk %}#contact_people">eintragen</a>
    {% if object.contact_people.all|length > 0 %}
      Zu dieser Gruppe wurden weniger als drei Konktaktpersonen eingetragen.
    {% else %}
      Zu dieser Gruppe wurden noch keine Konktaktpersonen eingetragen.
    {% endif %}
  </div>
{% endif %}


<div class="panel margin-top-60 margin-bottom-60">
  <h2>Seminare</h2>

  <h3>Dieses Jahr (angefragt)</h3>
  <strong>Anzahl:</strong> {{ seminar_stats.count }}<br>
  <strong>Förderung:</strong> {{ seminar_stats.requested_funding }} €<br>
  <strong>TNT:</strong> {{ seminar_stats.requested_tnt }}<br>
  <strong>Förderung / TNT:</strong> {{ seminar_stats.requested_funding_over_tnt|floatformat:2 }} €/TNT

  <h3 class="margin-top-30">Dieses Jahr (durchgeführt)</h3>
</div>


<div class="panel margin-top-60">
  <h2>Mitglieder</h2>
  <div style="display:flex">
    {% for member in object.members.all %}
      {% include "users/_user.html" with object=member %}
    {% empty %}
      <p>Keine Mitglieder eingetragen</p>
    {% endfor %}
  </div>
  {% has_perm 'users.change_permissions' user as can_change_user_perms %}
  {% if can_change_user_perms %}
    <p>Klick bei einem Benutzer auf Bearbeiten, um es als Mitglied einer Gruppe hinzuzufügen.</p>
  {% endif %}
</div>

<div class="panel margin-top-30 margin-bottom-60">
  <h2>Kontaktdaten</h2>
  <strong>Homepage:</strong> {% if object.homepage %}<a href="{{ object.homepage }}">{{ object.homepage }}</a>{% else %}keine{% endif %}<br>
  <strong>E-Mail:</strong> {% if object.email %}<a href="mailto:{{ object.email }}">{{ object.email }}</a>{% else %}keine{% endif %}
  <p><strong>Postadresse:</strong><br> {{ object.address|default:"keine"|linebreaksbr }}</p>

  <h4 style="margin-bottom: 0;">Kontaktpersonen:</h4>
  {% if contact_people %}
    <ul style="padding:0; margin:0">
    {% for person in contact_people %}
      <li style="list-style: none;margin:0">
        {{ person.name }},
        {% if person.email %}
          <a href="mailto:{{ person.email }}">{{ person.email }}</a>,
        {% endif %}
        {% if person.phone %}
          <a href="{{ person.phone.as_rfc3966 }}">{{ person.phone.as_national }}</a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    keine
  {% endif %}
</div>

{% endblock %}
