{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} JANUN-Gruppe hinzufügen{% endblock %}

{% block container_class %}container mw-500{% endblock %}

{% block content %}
{% if object.pk %}
  <a class="backlink" href="{% url 'groups:detail' object.pk %}">← {{ object.name }}</a>
{% else %}
  <a class="backlink" href="{% url 'groups:list' %}">← Alle Gruppen</a>
{% endif %}

<div class="card card-bigger">
  <h1 class="h3 card-header">
    {% if object.pk %}{{ object.name }} bearbeiten{% else %}JANUN-Gruppe hinzufügen{% endif %}
  </h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      {{ form|crispy }}
    </div>

    {% if contact_people_form %}
      <div class="card-body">
        <h2 class="h5" id="contact_people">Kontakt-Personen</h2>
        <p>Es sollten <strong>drei Kontaktpersonen</strong> eingetragen werden.</p>
        {{ contact_people_form|crispy }}
      </div>
    {% endif %}

    <div class="card-footer clearfix">
      <input class="btn btn-primary float-right" type="submit" value="Speichern" />
      {% if object.pk %}
        <a class="btn btn-link float-right" href="{{ object.get_absolute_url }}">Abbrechen</a>
      {% else %}
        <a class="btn btn-link float-right" href="{% url 'groups:list' %}">Abbrechen</a>
      {% endif %}
    </div>

  </form>

</div>



{% endblock %}
