{% extends "base.html" %}

{% load rules %}
{% load utils %}

{% block title %}{{ block.super }} Übersicht{% endblock %}

{% block content %}
<div>
  <h1 class="mb-4">Willkommen, {{ user.get_short_name }}!</h1>
  <!-- <a class="btn m-1 btn-outline-secondary" href="{% url 'users:edit' request.user.pk  %}">Daten ändern</a> -->
  <a class="btn m-1 btn-primary" href="{% url 'seminars:create' %}"><i class="fas fa-plus"></i> Seminar anmelden</a>
</div>


{% include "users/_callout_not_reviewed.html" with user=request.user %}

{% include "users/_callout_no_phone_number.html" with user=request.user %}


{% if all_seminars %}
<div class="my-5 clearfix">
  <h3 class="h3">Die letzten 6 Seminare <small class="text-secondary">(nach Anmeldezeitpunkt)</small></h3>
  <div class="row">
    {% for seminar in all_seminars %}
      <div class="col-md-6 col-lg-4 my-3">
        {% include "seminars/_seminar.html" with object=seminar %}
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'seminars:list' %}" class="btn m-1 btn-outline-secondary float-right">
    Alle Seminare <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endif %}



<div class="my-5 clearfix">
  <h3 class="h3">Deine {% if my_seminars_count > 6 %}letzten 6{% endif %} Seminare</h3>
  {% if my_seminars %}
    <div class="row">
      {% for seminar in my_seminars %}
        <div class="col-md-6 col-lg-4 my-3">
          {% include "seminars/_seminar.html" with object=seminar %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Du hast noch keine Seminare angemeldet.</p>
  {% endif %}
  {% if my_seminars_count > 6 %}
    <a href="{% url 'seminars:list' %}" class="btn m-1 btn-outline-secondary float-right">Alle Seminare →</a>
  {% endif %}
</div>


{% has_perm 'seminars.see_stats' user as can_see_stats %}
{% if can_see_stats %}
<div class="card my-4">
  <h3 class="card-header bg-white mt-2 h5">
    Seminar-Statistik
  </h3>

  <div class="card-body">
    <table class="table card-text table-sm">
      <tr>
        <th><strong>Anzahl:</strong></th>
        <td>{{ seminar_stats.count }}</td>
      </tr>
      <tr>
        <th><strong>Förderung:</strong></th>
        <td>{{ seminar_stats.requested_funding }} €</td>
      </tr>
      <tr>
        <th><strong>TNT:</strong></th>
        <td>{{ seminar_stats.requested_tnt }}</td>
      </tr>
      <tr>
        <th><strong>Förderung / TNT:</strong></th>
        <td>{{ seminar_stats.requested_funding_over_tnt|floatformat:2 }} €/TNT</td>
      </tr>
    </table>
  </div>
</div>
{% endif %}


<div class="card-deck">
{% if users_to_review %}
<div class="card">
  <h3 class="card-header bg-white mt-2 h5">
    Ungeprüfte Benutzer_innen
  </h3>
  <ul class="list-group list-group-flush">
      {% for user in users_to_review %}
        <li class="list-group-item">{% include "users/_user.html" with object=user %}</li>
      {% endfor %}
  </ul>
</div>
{% endif %}

{% if groups_without_contacts %}
<div class="card">
  <h3 class="card-header bg-white mt-2 h5">
    Gruppen mit weniger als drei Kontaktpersonen
  </h3>
  <ul class="list-group list-group-flush">
    {% for group in groups_without_contacts %}
      <li class="list-group-item">{% include "groups/_group.html" with object=group %}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
</div>


{% endblock %}
