{% extends "base.html" %}

{% block title %}{{ block.super }} Übersicht für Prüfer{% endblock %}

{% block content %}
<div class="section">
  <h1>Willkommen, {{ user.username|title }}!</h1>
</div>

{% if groups %}
<div class="section">
  <h2>Gruppenhüte</h2>
  <div>
    {% for group in groups %}
      {% include "groups/_group.html" with object=group %}
    {% endfor %}
  </div>
</div>
{% endif %}


{% if seminars %}
<div class="section">
  <h2>Neueste Seminare deiner Gruppen</h2>
  <div class="card-grid">
    {% for seminar in seminars %}
      {% include "seminars/_seminar.html" with object=seminar %}
    {% endfor %}
  </div>
</div>
{% endif %}


{% endblock %}
