{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }} Anmeldung{% endblock %}

{% block container_class %}container mw-500{% endblock %}

{% block content %}
<div class="card card-bigger card-accent login mx-neg">
  <h1 class="h3 card-header bg-white">Anmeldung zur Seminarverwaltung</h1>
  <div class="card-body">
    <p class="card-text">Du hast noch kein Konto? Dann kannst Du <a href="{{ signup_url }}">eins anlegen</a>.</p>
  </div>
  <form method="POST" action="{% url 'account_login' %}">
    <div class="card-body">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </div>
    <div class="card-footer clearfix">
      <button class="btn btn-primary float-right" type="submit">Anmelden</button>
    </div>
  </form>
</div>
{% endblock %}
