{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }} Anmeldung{% endblock %}

{% block inner %}
<h2>Anmeldung</h2>
<p>Du hast noch kein Konto? Dann <a href="{{ signup_url }}">registrieren</a>.</p>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Passwort vergessen?</a>
  <button class="primaryAction button bg-green" type="submit">Anmelden</button>
</form>
{% endblock %}
