{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block container_class %}container mw-500{% endblock %}

{% block inner %}
<div class="card card-bigger card-accent">
  <div class="card-header">
    <h1 class="h3 card-text">Passwort zurücksetzen:<br>E-Mail verschickt</h1>
  </div>
  <div class="card-body">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="card-text">
      Okay, wir haben Dir eine E-Mail geschickt.
      <strong>Klick auf den Link in der E-Mail</strong>, um ein neues Passwort zu setzen.
    </p>
    <p class="card-text">
      Solltest Du keine E-Mail erhalten oder das Zurücksetzen des Passworts nicht klappen,
      kannst Du natürlich auch jemanden kontaktieren.
    </p>
  </div>
</div>
{% endblock %}
