{% extends "account/base.html" %}

{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}Passwort zurücksetzen{% endblock %}

{% block container_class %}container mw-500{% endblock %}

{% block inner %}
<div class="card card-bigger card-accent">
  <div class="card-header">
    <h1 class="h3 card-text">Passwort zurücksetzen</h1>
  </div>
  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    <div class="card-body">
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p class="card-text">
        Passwort vergessen? Gib Deine E-Mail-Adresse unten ein, dann schicken wir Dir einen Link, unter dem Du Dein Passwort zurücksetzen kannst.
      </p>
      {% csrf_token %}
      {{ form|crispy }}
      <p>Bitte kontaktiere uns, wenn das Zurücksetzen des Passworts nicht klappt.</p>
    </div>
    <div class="card-footer clearfix">
      <input class="btn float-right btn-primary" type="submit" value="Link zuschicken" />
    </div>
  </form>
</div>
{% endblock %}
