{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block container_class %}container mw-500{% endblock %}


{% block content %}
<div class="card card-bigger card-accent">
  <div class="card-header">
    <h1 class="h2 font-weight-bold card-text">{% trans "Verify Your E-mail Address" %}</h1>
  </div>
  <div class="card-body">
    <p class="card-text">
      Wir haben dir eine E-Mail an {{ email }} geschickt, um deine Adresse zu verifizieren.
      Bitte <strong>folge dem Link in der E-Mail</strong> um den Anmeldeprozess abzuschließen.
      Bitte kontaktiere uns, falls die E-Mail nicht in ein paar Minuten angekommen ist.
    </p>
  </div>
</div>
{% endblock %}
