{% load rules %}

{% if not user.phone_number and user.role == 'TEAMER' %}
  <div class="callout callout-danger clearfix my-4 mw-500">
    <div class="card-body">
      {% has_perm 'users.change_user' request.user user as can_edit %}
      {% if can_edit %}
        <a class="btn btn-outline-secondary float-right" href="{% url 'users:edit' user.pk %}#id_phone_number">bearbeiten</a>
      {% endif %}
      <p class="card-text">
      {% if request.user == user %}
        Bitte <strong>gib eine Telefonnummer an</strong>,
        damit wir Rückfragen zu Deinem Seminar zeitnah mit Dir klären können.
      {% else %}
        {{ user }} hat keine Telefonnummer eingetragen.
      {% endif %}
      </p>
    </div>
  </div>
{% endif %}
