{% extends "base.html" %}

{% block title %}{{ block.super }} {{ object }} löschen?{% endblock %}

{% block content %}
<a class="backlink" href="{{ object.get_absolute_url }}">← {{ object.name }}</a>

<div class="panel">
  <h1>{{ object }} löschen?</h1>
  <form method="post">
    {% csrf_token %}
    <p>Möchtest Du wirklich Benutzer_in <strong>{{ object }}</strong> löschen?</p>

    <div class="panel__footer">
      <a class="button" href="{{ object.get_absolute_url }}">Abbrechen</a>
      <input class="button bg-red" type="submit" value="{{ object }} löschen" />
    </div>
  </form>
</div>

{% endblock %}
