{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }}  {{ object.name }}{% endblock %}

{% block content %}
<a class="backlink" href="{% url 'users:list' %}">← Alle Benutzer</a>

<div style="display: flex; align-items: center;">
  {% if object.avatar %}
    <div class="round-image" style="margin-right: 30px;">
      <img src="{{ object.avatar.url }}" class="round-image__image" alt="Bild von {{ object.name }}">
    </div>
  {% endif %}
  <h1>{{ object.name }}</h1>
</div>

<div class="margin-top-60">
  <p>Rolle: {{ object.get_role_display }}</p>
  <p>E-Mail: <a href="mailto:{{ object.email }}">{{ object.email }}</a></p>
</div>

{% if groups %}
<div class="section margin-top-60">
  <h2>Gruppen</h2>
  {% for group in groups %}
    {% include "groups/_group.html" with object=group %}
  {% endfor %}
</div>
{% endif %}

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
