{% extends "base.html" %}
{% load static %}
{% load rules %}
{% load humanize %}
{% load thumbnail %}

{% block title %}{{ block.super }}  {{ object }}{% endblock %}

{% block content %}

{% has_perm 'users.see_all_users' request.user object as can_see_all %}
{% if can_see_all %}
  <a class="backlink" href="{% url 'users:list' %}">← Alle Benutzer_innen</a>
{% endif %}

<div class="row my-4">
  <div class="col-lg-2">
    {% include "users/_avatar.html" with avatar=object.avatar %}
  </div>

  <div class="col col-lg-8">
    <h1>{{ object }}{% if request.user == object %} <small class="text-info">(das&nbsp;bist&nbsp;du)</small>{% endif %}</h1>
    <strong>Rolle:</strong> {{ object.get_role_display }}<br>
    <strong>Letzte Anmeldung:</strong>
    <time datetime="{{ object.last_login|date:'c' }}" title="{{ object.last_login|date:"DATETIME_FORMAT" }}">
        {{ object.last_login|naturaltime|default:"noch nie" }}
    </time><br>
    angelegt am
    <time datetime="{{ object.date_joined|date:'c' }}" title="{{ object.date_joined|date:"DATETIME_FORMAT" }}">
        {{ object.date_joined|date }}
    </time>
  </div>

  <div class="col">
    {% has_perm 'users.change_user' request.user object as can_edit %}
    {% if can_edit %}
      <a class="btn btn-outline-info my-1" href="{% url 'users:edit' object.pk %}">bearbeiten</a>
    {% endif %}
    <br>
    {% has_perm 'users.deactivate_user' request.user object as can_deactivate %}
    {% if can_deactivate and object.is_active %}
      <a class="btn btn-outline-danger my-1" href="{% url 'users:deactivate' object.pk %}">deaktivieren</a>
    {% endif %}
    <br>
    {% has_perm 'users.delete_user' request.user object as can_delete %}
    {% if can_delete %}
      <a class="btn btn-outline-danger my-1" href="{% url 'users:delete' object.pk %}">löschen</a>
    {% endif %}
  </div>
</div>



{% include "users/_callout_deactivated.html" with user=object %}

{% include "users/_callout_not_reviewed.html" with user=object %}

{% include "users/_callout_no_phone_number.html" with user=object %}



<div class="row">
<div class="col-md-6">
<div class="card my-3">
  <div class="card-header">Kontaktdaten</div>
  <div class="card-body">
    <strong>E-Mail:</strong> <a href="mailto:{{ object.email }}">{{ object.email }}</a><br>
    <strong>Telefonnummer:</strong> {% if object.phone_number %}<a href="{{ object.phone_number.as_rfc3966 }}">{{ object.phone_number.as_national }}</a>{% else %}keine{% endif %}<br>
    <p><strong>Postadresse:</strong><br> {{ object.address|default:"keine"|linebreaksbr }}</p>
  </div>
</div>
</div>
</div>


<div class="row">
<div class="col-md-6">
  <div class="card my-3">
    <div class="card-header">
      Gruppen-Mitgliedschaften
    </div>
    {% if object.janun_groups.all %}
    <ul class="list-group list-group-flush">
      {% for group in object.janun_groups.all %}
        <li class="list-group-item">
          {% include "groups/_group.html" with object=group %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <div class="card-body">
        {% if request.user == object %}
          <p class="card-text">Du bist in keiner Gruppe Mitglied.</p>
        {% else %}
          <p class="card-text">Ist in keiner Gruppe Mitglied.</p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
<div class="col-md-6">
  <div class="card my-3">
    <div class="card-header">
      Gruppen-Hüte
    </div>
    {% if object.group_hats.all %}
    <ul class="list-group list-group-flush">
      {% for group in object.group_hats.all %}
        <li class="list-group-item">
          {% include "groups/_group.html" with object=group %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <div class="card-body">
        {% if request.user == object %}
          <p class="card-text">Du hast keinen Gruppenhut.</p>
        {% else %}
          <p class="card-text">Hat keinen Gruppenhut.</p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>


</div>
{% endblock content %}
