{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

<div class="section">
  {% if object.avatar %}
    <div class="button-image">
      <img src="{{ object.avatar.url }}" class="button-image__image" alt="">
    </div>
  {% endif %}
  <h1>{{ object.name }}</h1>
  <p>Rolle: {{ object.get_role_display }}</p>
  <p>E-Mail: <a href="mailto:{{ object.email }}">{{ object.email }}</a></p>
</div>

{% if groups %}
<div class="section">
  <h2>Gruppen</h2>
  {% for group in groups %}
    {% include "groups/_group.html" with object=group %}
  {% endfor %}
</div>
{% endif %}

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
