{% extends "base.html" %}

{% load static i18n %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} Benutzer_innen{% endblock %}

{% block content %}
<div class="clearfix">
  <h1 class="float-left">Benutzer_innen ({{ object_list|length }})</h1>
  <a class="button bg-green float-right" href="{% url 'users:create' %}">Hinzufügen</a>
</div>

<form class="filter-form" action="" method="get">
  {{ filter.form|crispy }}
</form>

<div class="table-wrapper">
  {% render_table table %}
</div>
{% endblock content %}
