{% extends "base.html" %}

{% load static i18n %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} Benutzer_innen{% endblock %}

{% block content %}
<div class="clearfix my-4">
  <h1 class="float-left h3 font-weight-bold">Benutzer_innen ({{ object_list|length }})</h1>
  <a class="btn btn-outline-primary float-md-right" href="{% url 'users:create' %}"><i class="fas fa-plus"></i> Benutzer_in hinzufügen</a>
</div>

<form class="filter-form" action="" method="get">
  {{ filter.form|crispy }}
</form>

<div class="card mx-neg my-4">
  <div class="table-responsive-lg">
    {% render_table table %}
  </div>

</div>
{% endblock content %}
