{% extends "base.html" %}

{% block title %}{{ block.super }} {{ object }} überprüfen{% endblock %}

{% block content %}
<a class="backlink" href="{{ object.get_absolute_url }}">← {{ object }}</a>

<h1>{{ object }} überprüfen</h1>
<div class="panel">

  <ul>
    <li>{{ object }} ist <strong>{{ object.get_role_display }}</strong></li>
    {% if object.janun_groups.all %}
      <li>
        {{ object }} ist in folgenden Gruppen:
        <ul>
          {% for janun_group in object.janun_groups.all %}
            <li><a href="{{ janun_group.get_absolute_url }}">{{ janun_group.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li>{{ object }} ist in <strong>keinen JANUN-Gruppen</strong></li>
    {% endif %}
    {% if object.group_hats.all %}
      <li>
        {{ object }} hat folgende Gruppenhüte:
        <ul>
          {% for group_hat in object.group_hats.all %}
            <li><a href="{{ group_hat.get_absolute_url }}">{{ group_hat.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li>{{ object }} hat <strong>keine Gruppenhüte</strong></li>
    {% endif %}
  </ul>

  <form method="post">
    {% csrf_token %}
    <a href="{{ object.get_absolute_url }}" class="button button--red">Abbrechen</a>
    <input type="submit" class="button button--green" value="Ja, das stimmt" name="is_reviewed">
  </form>
</div>

{% endblock %}
