{% extends "base.html" %}

{% block title %}{{ block.super }} {{ object }} löschen?{% endblock %}

{% block container_class %}container mw-500{% endblock %}


{% block content %}
<a class="backlink" href="{{ object.get_absolute_url }}">← {{ object.name }}</a>

<div class="card mw-500">
  <h1 class="h3 card-header text-danger">{{ object }} löschen?</h1>
  <form method="post">
    {% csrf_token %}
    <div class="card-body">
    <p class="card-text">Möchtest Du wirklich Benutzer_in <strong>{{ object }}</strong> löschen?</p>
    </div>
    <div class="card-footer clearfix">
      <input class="float-right btn btn-outline-danger m-1" type="submit" value="{{ object }} löschen" />
      <a class="float-right btn btn-primary m-1" href="{{ object.get_absolute_url }}">Abbrechen</a>
    </div>
  </form>
</div>

{% endblock %}
