button:disabled {
  cursor: auto;
}

.btn {
  @apply inline-block;

  transition: box-shadow 0.1s ease-in-out;
}

/* primary */
.btn-primary {
  @apply py-1.5 px-5 font-bold shadow text-white rounded-full bg-green-500;
}

.btn-primary:hover:not(:disabled),
.btn-primary:focus:not(:disabled) {
  @apply shadow-lg;
}

.btn-primary:active:not(:disabled) {
  @apply shadow-none;
}

.btn-primary.negative {
  @apply bg-red-500;
}

.btn-primary:disabled {
  @apply bg-gray-400;
}

/* secondary */
.btn-secondary {
  @apply py-1.5 px-4 font-normal shadow text-gray-700 bg-gray-200 rounded-full;
}

.btn-secondary:hover:not(:disabled),
.btn-secondary:focus:not(:disabled) {
  @apply shadow-lg;
}

.btn-secondary:active:not(:disabled) {
  @apply shadow-none;
}

.btn-secondary:disabled {
  @apply bg-gray-400;
}

/* tertiary */
.btn-tertiary {
  @apply text-gray-600;
}

.btn-tertiary:hover, .btn-tertiary:focus {
  @apply text-gray-800;
}

/* btn-loading */
.btn-loading {
  position: relative;
  color: transparent !important;
}

.btn-loading:after {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  top: 50%;
  left: 50%;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spinAround 500ms infinite linear;
  content: "";
}

.btn.btn:focus {
  @apply outline-none shadow-outline;
}

.btn:disabled {
  @apply cursor-not-allowed;
}
