{% extends "base.html" %}

{% block head_title %}Keine Berechtigung (403){% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center mt-4">
  <svg class="fill-current mb-8 w-32 h-32 text-red-600" viewBox="0 0 20 20"><path d="M0 10a10 10 0 1 1 20 0 10 10 0 0 1-20 0zm16.32-4.9L5.09 16.31A8 8 0 0 0 16.32 5.09zm-1.41-1.42A8 8 0 0 0 3.68 14.91L14.91 3.68z"/></svg>
  <div>
    <h1 class="text-red-700 font-bold text-3xl mb-4">Sorry, Keine Berechtigung</h1>
    <p class="font-bold mb-4">Zu der aufgerufenen Seite hast Du keinen Zugriff.</p>

    <p>Falls Du meinst das ist ein Fehler, schick uns eine
      <a class="underline" href="mailto:{{ preferences.JANUNSeminarPreferences.help_email }}">E-Mail</a>.
    </p>

    <p class="font-bold mb-2 mt-5">Ansonsten versuch mal Folgendes:</p>
    <ul class="list-disc pl-5">
      <li>Geh <a class="js-goback underline" href="#">zurück</a></li>
      <li>Geh zur <a class="underline" href="/">Startseite</a></li>
    </ul>
  </div>
</div>
{% endblock content %}
