<div class="footer h-48 mt-16 w-full text-center pb-10 pt-8 text-sm" style="background-color: rgba(0, 0, 0, 0.03);">
  <h3 class="text-green-500 font-normal text-lg">Hilfe</h3>
  
  <p class="mb-2">Irgendwas geht nicht oder Du hast Fragen?</p>
  <div class="flex flex-col flex-wrap items-center justify-center">
    {% if preferences.JANUNSeminarPreferences.help_phone %}
      <a href="tel:{{ preferences.JANUNSeminarPreferences.help_phone }}" class="mx-1">
        Telefon: {{ preferences.JANUNSeminarPreferences.help_phone.as_national }}
      </a>
    {% endif %}
    {% if preferences.JANUNSeminarPreferences.help_email %}
      <a href="mailto:{{ preferences.JANUNSeminarPreferences.help_email }}" class="mx-1">
        E-Mail: {{ preferences.JANUNSeminarPreferences.help_email }}
      </a>
    {% endif %}
    {% if preferences.JANUNSeminarPreferences.seminar_policy_url %}
      <a target="_blank" href="{{ preferences.JANUNSeminarPreferences.seminar_policy_url }}" class="mx-1 mt-1">
        Download Seminarrichtlinie
      </a>
    {% endif %}
  </div>
</div>