<div class="footer h-48 mt-16 w-full text-center pb-10 pt-8 text-sm" style="background-color: rgba(0, 0, 0, 0.03);">
  <h3 class="text-green-500 font-normal text-lg">Hilfe</h3>
  
  <p>Irgendwas geht nicht oder Du hast Fragen?</p>
  <div class="flex flex-col flex-wrap items-center justify-center">
    <a href="tel:+49 511 3940515" class="mx-1">Telefon: +49 511 3940515</a>
    <a href="mailto:seminare@janun.de" class="mx-1">E-Mail: seminare@janun.de</a>
    <a target="_blank" href="https://www.janun.de/downloads" class="mx-1">
      Download Seminarrichtlinie
    </a>
  </div>
</div>