{% load janun %}
<nav class="navbar bg-white shadow px-4 md:px-8">
  <div class="flex justify-between">

    <div class="flex">
      <a href="/" class="flex items-center py-4">
        <svg viewbox="0 0 38 38" class="h-8 w-8 fill-current text-green-500">
          <path
            d="M34.9 28.3c.2-.1.4.2.3.6-.1.4-.3.7-.5.8-.3.1-.4-.2-.4-.5v-.1l-1.7-1C32 29.4 30 31 29 31.7l-.6.4.6-.4c2.5-1.9 4.5-5.4 3.4-8-1-2.4-4.6-3.5-7.1-1.1-6.9 6.7 1.8 9.2 4.4 5.9 2.7-3.5-1.3-6-2.8-2.6-.3.6 0 1 .5 1.1 0-.1-.1-.3 0-.4.1-.6.6-1.1 1.1-1.1.5 0 .9.4.8 1l-.2.6-.2.2c-1.5 1.6-4.9.1-1.8-3 2.4-2.4 5.9.8 3.1 4.7a5 5 0 0 1-6.4 1.3c-1.8.7-4 3-4.7 3.5l.1.4c0 .7-.9 1.5-1.9 1.9-1.1.4-2.1.1-2.1-.7 0-.8 1-1.7 2.2-2l.8-.1c.9-.8 4.4-3.4 4.2-4.3-.5-.8-.8-1.8-.6-3-2-2.6-10.8-6.2-12.6-7.3-.8.5-2 .7-3.5.5-2.8-.4-5.5-2-5.6-3.8-.1-1.7 2.4-2.5 5.4-1.8 2.6.7 4.5 2.3 4.5 3.7v.3c2.1.7 10.3 4.8 13.6 4.9l.8-.8c.5-.4 1-.8 1.6-1-.5-3.5-4.8-12.1-6.1-15l-.2-.1c-1.5-.9-2.8-2.9-2.7-4.2C17 0 18.4-.1 19.9 1c1.4 1.1 2.4 2.8 2.3 4l-.2.6h.1c.3.1 4.5 12.4 6.4 14.6.6 0 1.1.2 1.6.3 1.3-1.9 2.3-6.9 2.6-8.2l-.1-.8c.1-.7.5-1 1-.6.4.4.7 1.2.6 1.8-.1.5-.3.8-.6.8-.3 1.1-1.7 4.9-1.8 8 .4.3.7.7.9 1.1l3.7-2.4v-.3c.1-.5.4-.8.6-.7.3.1.4.6.3 1-.1.5-.3.8-.6.7l-.2-.1c-.7.6-3.1 2.3-3.4 3.1.2 1 .1 2.1-.2 3.1l1.7 1.3.2-.1"
            />
        </svg>
        <span class="ml-2 text-green-500 font-bold">Seminare</span>
      </a>

      {% if request.user.is_authenticated %}
        <ul class="ml-5 hidden sm:flex">
          <li>
            <a class="flex items-center h-full mx-2 {% if request.path == "/" %}font-bold{% endif %}"
              href="{% url 'dashboard:dashboard' %}">Übersicht</a>
          </li>
          <li>
            <a class="flex items-center h-full mx-2 {% if request.resolver_match.namespace == "seminars" %}font-bold{% endif %}"
              href="{% url 'seminars:list' %}">
              Seminare
              {% if request.user.is_staff %}
                {% get_new_seminars as new_seminars %}
                {% if new_seminars %}
                  <span title="{{ new_seminars }} neu angemeldete{{ new_seminars|pluralize:"s," }} Seminar{{ new_seminars|pluralize:",e" }}"
                  class="ml-1 rounded-full bg-blue-200 h-4 w-4 text-xs text-blue-900 font-normal flex items-center justify-center">
                    {{ new_seminars }}
                  </span>
                {% endif %}
              {% endif %}
            </a>
          </li>
          {% if request.user.is_staff %}
            <li>
              <a class="flex items-center h-full mx-2 {% if request.resolver_match.namespace == "groups" %}font-bold{% endif %}"
                href="{% url 'groups:staff_list' %}">Gruppen</a>
            </li>
            <li>
              <a class="flex items-center h-full mx-2 {% if request.resolver_match.namespace == "users" %}font-bold{% endif %}"
                href="{% url 'users:list' %}">
                Konten
                {% get_unreviewed_users as unreviewed_users %}
                {% if unreviewed_users %}
                  <span title="{{ unreviewed_users }} ungeprüfte{{ unreviewed_users|pluralize:"s," }} Kont{{ unreviewed_users|pluralize:"o,en" }}"
                  class="ml-1 rounded-full bg-blue-200 h-4 w-4 text-xs text-blue-900 font-normal flex items-center justify-center">
                    {{ unreviewed_users }}
                  </span>
                {% endif %}
              </a>
            </li>
          {% endif %}
        </ul>
       {% endif %}
    </div>

    {% if request.user.is_staff %}
      <form class="mx-5 relative js-search-form flex items-center w-full max-w-md ml-auto" action="{% url 'dashboard:search' %}" method="GET">
        <div class="inline-flex items-center relative w-full">
          <input autocomplete="off" type="text" name="q" class="pl-10 w-full py-2 text-sm bg-white border-gray-400 form-input" placeholder="Suche nach Seminaren, Konten, Gruppen (Strg+Shift+F)">
          <div class="absolute left-0 inset-y-0 flex items-center">
            <svg class="fill-current text-gray-500 w-5 h-5 ml-3" viewBox="0 0 20 20"><path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/></svg>
          </div>
        </div>
        <div class="hidden z-50 overflow-hidden js-search-form-results absolute mt-16 top-0 inset-x-0 bg-white shadow-lg rounded-b-lg text-sm"></div>
      </form>
    {% endif %}

    {% if request.user.is_authenticated %}
      <div class="flex">
        <a title="Konto-Einstellungen" class="mx-2 flex items-center {% if request.resolver_match.url_name == "account_profile" %}font-bold{% endif %}"
          href="{% url 'account_profile' %}">
          {{ request.user.username }}
        </a>
        <form class="flex items-center" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button type="submit" class="mx-2 h-full flex items-center">Logout</button>
        </form>
      </div>
    {% endif %}

  </div>
</nav>