{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mx-auto max-w-sm md:card">

    <h1 class="font-bold text-2xl mb-5">Zwei-Faktor-Authentisierung</h1>

    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <p class="my-4 text-gray-700 text-sm">
        Zugang verloren? Dann benutze einen Backup-Token oder kontaktiere uns.
    </p>

    <div class="flex">
        <button class="md:ml-auto button button-primary" type="submit">
            Anmelden
            <svg viewBox="0 0 20 20" class="ml-2 fill-current h-3 w-3"><path d="M16.172 9l-6.071-6.071 1.414-1.414L20 10l-.707.707-7.778 7.778-1.414-1.414L16.172 11H0V9z"></path></svg>
        </button>
    </div>
    </form>
</div>

{% endblock %}