{% extends 'base.html' %}

{% block head_title %}Zwei-Faktor-Authentisierung Backup-Tokens{% endblock %}


{% block content %}
<div class="mx-auto max-w-xl">
<a class="inline-flex items-center text-gray-500 hover:text-gray-800 text-xs mb-4" href="{% url 'account_profile' %}">
    <svg class="fill-current mr-2 h-2 w-2" viewBox="0 0 20 20"><polygon points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9"/></svg>
    Dein Konto
</a>
    <div class="md:bg-white md:shadow-lg md:px-8 pb-8 pt-4 rounded-lg md:border-t-4 md:border-green-500">
    <div class="flex flex-col justify-center items-center mb-5 text-center">
        <div class="flex justify-center items-center p-2 bg-green-200 rounded-full w-16 h-16">
        <svg class="fill-current text-green-700 w-12 h-12" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
        </div>
    </div>
    <h1 class="font-bold mb-4 text-2xl">Zwei-Faktor-Authentisierung ist aktiv</h1>
    <p class="mb-2">Super, Dein Konto ist jetzt mit Zwei-Faktor-Authentisierung geschützt.</p>
    <p>Zum Einloggen werden jetzt Benutzername, Passwort und Token-Generator benötigt.</p>

    <div class="flex justify-end mb-10 mt-5">
        <a class="underline text-gray-700 hover:text-gray-800 focus:text-gray-800" href="{% url 'two-factor-remove' %}">2FA ausschalten</a>
    </div>

    <hr class="mb-10">

    <h2 class="font-bold mb-5 text-xl">Backup-Tokens</h2>
    <p>
        Mit Backup-Tokens bekommst du im Notfall Zugriff, <strong>falls du deinen Token-Generator (z.B. dein Handy) verlieren solltest</strong>.
        Speichere sie an einem sicheren Ort, z.B. einen Passwort-Manager oder ausgedruckt.
    </p>

    <div class="mt-5 mb-4">
        {% if backup_tokens %}
            {% if reveal_tokens %}
                <ul>
                    {% for token in backup_tokens %}
                        <li>{{ token.token }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>
                    Du hast in der Vergangenheit schon mal Backup-Tokens generiert.
                    Die werden hier aber aus Sicherheitsgrünfen nicht angezeigt.
                    Du kannst aber neue generieren.
                </p>
            {% endif %}
        {% else %}
            <p>Du hast offenbar noch keine Backup-Tokens generiert.</p>
        {% endif %}
    </div>

    <form method="post">
    {% csrf_token %}
    <div class="flex justify-end">
        <button class="button button-primary" type="submit">Backup-Tokens generieren</button>
    </div>
    </form>

    </div>
</div>
{% endblock %}