{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}Zwei-Faktor-Authentisierung ausschalten?{% endblock %}

{% block content %}
<div class="mx-auto max-w-xl">
    <a class="inline-flex items-center text-gray-500 hover:text-gray-800 text-xs mb-4" href="{% url 'account_profile' %}">
        <svg class="fill-current mr-2 h-2 w-2" viewBox="0 0 20 20"><polygon points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9"/></svg>
        Dein Konto
    </a>
    <div class="md:card">
        <h1 class="text-red-600 font-bold text-2xl mb-5">Zwei-Faktor-Authentisierung ausschalten?</h1>
        
        <p class="mb-2">Bist Du sicher, dass Du die Zwei-Faktor-Authentisierung (2FA) wieder ausschalten willst?</p>
        <p class="mb-5"><strong>Dein Konto ist mit 2FA besser vor Einbrüchen geschützt</strong>.</p>

        <form method="post">
        {% csrf_token %}
            <div class="mt-5 md:card-footer">
                <a class="mr-5 text-gray-600 hover:text-gray-800 focus:text-gray-800" href="{% url 'two-factor-setup' %}">Abbrechen</a>
                <button class="button button-primary bg-red-600" type="submit">Ja, 2FA ausschalten</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}