{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Zwei-Faktor-Authentisierung einstellen{% endblock %}


{% block content %}
<div class="mx-auto max-w-xl md:bg-white md:shadow-lg md:px-8 md:py-4 rounded-lg">
    <h1 class="text-green-500 font-bold mb-5 text-2xl">Zwei-Faktor-Authentisierung einstellen</h1>
    <p class="mb-2">
        Durch die Zwei-Faktor-Authentisierung wird die Anmeldung deutlich sicherer.
    </p>
    <p class="mb-8">
        Für die Anmeldung wird dann zusätzlich zum Passwort noch eine 6-stellige Zahl gebraucht,
        der sich jedes Mal ändert.
    </p>
    

    <div class="mb-8">
        <h4 class="text-green-500 font-bold">1. Authenticator App installieren</h4>
        <p>Installier eine Authenticator App z.B. auf deinem Handy.</p>
        <p>Beispiele: FreeOTP, Google Authenticator</p>
    </div>

    <div class="mb-8">
        <h4 class="text-green-500 font-bold">2. QR-Code scannen</h4>
        <p>Scanne mit der App den QR-Code:</p>
        <img src="{{ qr_code_url }}" />
    </div>

    <div class="mb-5">
        <h4 class="text-green-500 font-bold">3. Bestätigen</h4>
        <p>Generiere einen Token und gib ihn hier ein:

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="mt-12 flex items-center">
                <a class="text-gray-700" href="{% url 'account_profile' %}">Abbrechen</a>
                <button class="ml-auto button button-primary" type="submit">Bestätigen</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}