{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Zwei-Faktor-Authentisierung einstellen{% endblock %}


{% block content %}
<div class="mx-auto max-w-xl md:bg-white md:shadow-lg md:px-8 md:py-4 rounded-lg md:border">
    <h1 class="font-bold mb-5 text-2xl">Zwei-Faktor-Authentisierung einstellen</h1>
    <p class="mb-8">
        Durch die Zwei-Faktor-Authentisierung wird die Anmeldung deutlich sicherer.
        Für die Anmeldung wird dann zusätzlich zum Passwort noch eine 6-stellige Zahl gebraucht,
        die sich jedes Mal ändert.
    </p>
    
    <div class="mb-8">
        <h2 class="font-bold text-lg">1. Authenticator App installieren</h4>
        <p>Installier eine Authenticator App z.B. auf deinem Handy.</p>
        <p>Beispiele: FreeOTP, Google Authenticator</p>
    </div>

    <div class="mb-8">
        <h2 class="font-bold text-lg">2. QR-Code scannen</h4>
        <p>Scanne mit der App den QR-Code:</p>
        <img src="{{ qr_code_url }}" />
    </div>

    <div>
        <h2 class="font-bold text-lg">3. Bestätigen</h4>
        <p>Generiere einen Token und gib ihn hier ein:

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="mt-12 flex items-center justify-end md:-mx-8 md:px-4 py-4 md:-mb-4 md:bg-gray-100 md:rounded-b-lg">
                <a class="mx-4 text-gray-700" href="{% url 'account_profile' %}">Abbrechen</a>
                <button class="mx-4 button button-primary" type="submit">Bestätigen</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}